VITE_DOMAIN_URL=play.gno.land
VITE_SEO_META_ROBOTS=noindex, nofollow
VITE_BACKEND_GIT_PROXY_URL=https://cors.isomorphic-git.org
VITE_GNOVM_WASM_VERSION=latest
VITE_GNOVM_WASM_URL=
VITE_GNOVM_ROOT_URL=
