/**** ROBOTO ****/

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local("Roboto Mono Regular"), url("/static/font/roboto/RobotoMono-Regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto Mono";
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: local("Roboto Mono Italic"), url("/static/font/roboto/RobotoMono-Italic.woff") format("woff");
}

@font-face {
  font-family: "Roboto Mono Bold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Roboto Mono Bold"), url("/static/font/roboto/RobotoMono-Bold.woff") format("woff");
}

@font-face {
  font-family: "Roboto Mono";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local("Roboto Mono Bold Italic"), url("/static/font/roboto/RobotoMono-BoldItalic.woff") format("woff");
}

/*** DARK/LIGHT THEME COLORS ***/

html:not([data-theme="dark"]),
html[data-theme="light"] {
  --background-color: #eee;
  --input-background-color: #d7d9db;
  --text-color: #000;
  --text-color-reverse: #eee;

  --link-color: #000000;
  --muted-color: #757575;
  --hover-color: #939393;
  --hover-color-reverse: #b0b0b0;
  --border-color: #939393;
  --icon-color: #000;

  --quote-background: #ddd;
  --quote-2-background: #aaa4;
  --code-background: #d7d9db;
  --header-background: #d7d9db;

  --realm-help-background-color: #d7d9db9e;
  --realm-help-odd-background-color: #d7d9db45;
  --realm-help-code-color: #5d5d5d;

  --highlight-color: #2f3337;
  --highlight-bg: #f6f6f6;
  --highlight-color: #2f3337;
  --highlight-comment: #656e77;
  --highlight-keyword: #015692;
  --highlight-attribute: #015692;
  --highlight-symbol: #803378;
  --highlight-namespace: #b75501;
  --highlight-keyword: #015692;
  --highlight-variable: #54790d;
  --highlight-keyword: #015692;
  --highlight-literal: #b75501;
  --highlight-punctuation: #535a60;
  --highlight-variable: #54790d;
  --highlight-deletion: #c02d2e;
  --highlight-addition: #2f6f44;
}

html[data-theme="dark"] {
  --background-color: #1e1e1e;
  --input-background-color: #393939;
  --text-color: #c7c7c7;
  --text-color-reverse: #1e1e1e;
  --link-color: #c7c7c7;
  --muted-color: #737373;
  --hover-color: #a0a0a0;
  --hover-color-reverse: #555555;
  --border-color: #606060;
  --icon-color: #dddddd;

  --quote-background: #404040;
  --quote-2-background: #555555;
  --code-background: #606060;
  --header-background: #606060;

  --realm-help-background-color: #45454545;
  --realm-help-odd-background-color: #4545459e;
  --realm-help-code-color: #b6b6b6;

  --highlight-color: #ffffff;
  --highlight-bg: #1c1b1b;
  --highlight-color: #ffffff;
  --highlight-comment: #999999;
  --highlight-keyword: #88aece;
  --highlight-attribute: #88aece;
  --highlight-symbol: #c59bc1;
  --highlight-namespace: #f08d49;
  --highlight-keyword: #88aece;
  --highlight-variable: #b5bd68;
  --highlight-keyword: #88aece;
  --highlight-literal: #f08d49;
  --highlight-punctuation: #cccccc;
  --highlight-variable: #b5bd68;
  --highlight-deletion: #de7176;
  --highlight-addition: #76c490;
}

html[data-theme="dark"] #header img,
html[data-theme="dark"] .footer img {
  filter: invert(1);
}

#theme-toggle {
  display: inline-block;
  padding: 0;
}

html[data-theme="dark"] #theme-toggle-moon,
html[data-theme="light"] #theme-toggle-sun {
  display: none;
}

/*** BASE HTML ELEMENTS ***/

* {
  box-sizing: border-box;
}

html {
  font-feature-settings: "kern" on, "liga" on, "calt" on, "zero" on;
  -webkit-font-feature-settings: "kern" on, "liga" on, "calt" on, "zero" on;
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  font-variant-ligatures: contextual common-ligatures;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", "Courier New", "sans-serif";
  background-color: var(--background-color, #eee);
  color: var(--text-color, #000);
  font-size: 15px;
  transition: 0.25s all ease;
}

h1,
h2,
h3,
h4,
nav {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 600;
  letter-spacing: 0.08rem;
}

:is(h1, h2, h3, h4) a {
  text-decoration: none;
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin-block: 4.2rem 2rem;
}

h2 {
  font-size: 1.625rem;
  margin-block: 3.4rem 1.2rem;
  line-height: 1.4;
}

h3 {
  font-size: 1.467rem;
  margin-block: 2.6rem 1rem;
}

p {
  font-size: 1rem;
  margin-block: 1.2rem;
  line-height: 1.4;
}

p:last-child:has(a:only-child) {
  margin-block-start: 0.8rem;
}
.gno-stack > p:last-child:has(a:only-child) {
  margin-block-start: 0;
}

hr {
  border: none;
  height: 1px;
  background: var(--border-color, #d7d9db);
  width: 100%;
  margin-block: 1.5rem 2rem;
}

nav {
  font-weight: 400;
}

button {
  color: var(--text-color, #000);
}

body {
  height: 100%;
  width: 100%;
}

a {
  color: var(--link-color, #25172a);
}

a[href="#"] {
  color: var(--muted-color, #757575);
}

a:hover {
  color: var(--hover-color, #323232);
}

ul {
  padding: 0;
  list-style: none;
}

li {
  margin-bottom: 0.4rem;
}

li > * {
  vertical-align: middle;
}

input,
select {
  font-family: "Roboto Mono", "Monaco", monospace;
  background-color: var(--input-background-color, #eee);
  border: 1px solid var(--border-color);
  color: var(--text-color, #000);
  min-width: 25em;
  padding: 0.6rem 0.7rem;
  max-width: 100%;
  display: inline-flex;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  margin: 0;
  min-width: 0;
  width: 1rem;
  height: 1rem;
  accent-color: var(--text-color, #000);
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border: var(--text-color) 1px solid;
}

input + label {
  margin-inline-start: 0.7rem;
}

select {
  position: relative;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

textarea {
  width: 100%;
  height: 8rem;
  padding: 0.7rem;
  background-color: var(--input-background-color, #eee);
  border: 1px solid var(--border-color);
  color: var(--text-color, #000);
}

blockquote {
  background-color: var(--quote-background, #ddd);
}

blockquote blockquote {
  margin: 0;
  background-color: var(--quote-2-background, #aaa4);
}

pre {
  background-color: var(--code-background, #d7d9db);
  margin: 1rem 0;
  padding: 0.5rem;
}

label {
  margin-block-end: 0.8rem;
  display: block;
}

label > img {
  margin-inline-end: 0.8rem;
}

code {
  white-space: pre-wrap;
}
/*** COMPOSITION ***/
.container {
  width: 100%;
  max-width: 63.75rem;
  margin: auto;
  padding: 1.25rem;
}

.container p > img:only-child {
  max-width: 100%;
}

.inline-list {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.gno-stack,
.gno-stack > p {
  display: flex;
  flex-direction: column;
}

.gno-stack > p {
  margin: 0;
}

.gno-stack > a,
.gno-stack > p > a {
  margin-block-end: 0.4rem;
}

.gno-columns > .gno-box > h1:first-child,
.gno-columns > .gno-box > h2:first-child,
.gno-columns > .gno-box > h3:first-child,
.gno-columns > .gno-box > h4:first-child,
.gno-columns > .gno-box > h5:first-child,
.gno-columns > .gno-box > h6:first-child {
  margin-block-start: 0;
}

.gno-columns {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 3.75rem;
  margin: 3.75rem auto;
}

/** 51.2rem **/
@media screen and (min-width: 68.75rem) {
  .gno-stack,
  .gno-stack > p {
    flex-direction: row;
  }
  .gno-stack *:not(:first-child) {
    margin-left: 3.75rem;
  }
  .gno-stack > a,
  .gno-stack > p > a {
    margin-block-end: 0;
  }
  .gno-columns-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .gno-columns-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .gno-columns-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .gno-columns-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .gno-columns-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .gno-columns-6 {
    grid-template-columns: repeat(6, 1fr);
  }
}

/*** UTILITIES ***/

.is-hidden {
  display: none !important;
}

.is-muted {
  color: var(--muted-color, #757575);
}

.is-finished {
  text-decoration: line-through;
}

.is-underline {
  text-decoration: underline;
}

/*** BLOCKS ***/

#header {
  position: relative;
  background-color: var(--header-background, #d7d9db);
  padding: 1.333rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header > nav {
  flex-grow: 2;
}

#header_buttons {
  position: relative;
  width: 100%;
  height: 3rem;
  float: right;
  margin-left: auto;
}

#logo {
  display: flex;
  align-items: center;
  color: var(--link-color, #25172a);
  position: absolute;
  height: 3rem;
  z-index: 2;
  padding-right: 22px;
}

#logo_path a {
  text-decoration: none;
}

#logo_path {
  padding-right: 0.8rem;
}

#logo_path a:hover {
  text-decoration: underline;
}

#realm_links a {
  font-size: 0.8rem;
}

#header_buttons nav {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer {
  margin-block-start: 2rem;
  background-color: var(--header-background, #d7d9db);
  border-top: 1px solid var(--border-color);
}
.footer > img {
  display: block;
  margin: 1rem auto;
}

/* enabled conditionally with <noscript> */
#source {
  opacity: 0;
}

/** Menu **/
#menu-toggle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  height: 100%;
}

#menu-toggle input {
  display: block;
  width: 2.667rem;
  height: 2.133rem;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menu-toggle span {
  display: block;
  width: 2.2rem;
  height: 0.133rem;
  margin-bottom: 0.333rem;
  position: relative;
  background: var(--text-color, #000);
  z-index: 1;
  transform-origin: 50% 50%;
  /* transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; */
}

#menu-toggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(0.467rem, 0.467rem);
}

#menu-toggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menu-toggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0.2rem, -0.267rem);
}

#menu-toggle > .navigation {
  position: absolute;
  width: calc(100vw - 2.6rem);
  right: -1.467rem;
  top: -1.467rem;
  padding: 7.333rem 1.467rem 4.333rem;
  background: var(--header-background, #d7d9db);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(0, -100%);
  /* transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); */
}

#menu-toggle .buttons {
  position: absolute;
  left: 1.467rem;
  display: flex;
  align-items: center;
  margin-block-start: 0.7em;
  color: var(--icon-color, #000);
}

#menu-toggle .buttons > *:not(:last-child) {
  margin-right: 0.6rem;
}

#menu-toggle .buttons button {
  background-color: transparent;
  border: none;
}

#menu-toggle .buttons a {
  text-decoration: none;
}

#menu-toggle > .navigation > ul {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

#menu-toggle input:checked ~ .navigation {
  transform: none;
}

/** 51.2rem **/
@media screen and (min-width: 51.2rem) {
  #menu-toggle {
    display: block;
    width: 50%;
    float: right;
  }
  #menu-toggle span,
  #menu-toggle input {
    display: none;
  }
  #menu-toggle > .navigation {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    padding: 0;
    right: initial;
    top: initial;
    background: transparent;
    transform: translate(0, 0);
  }
  #menu-toggle .buttons {
    right: 0;
    left: initial;
  }
  #menu-toggle > .navigation > ul {
    transform: translateX(-50%);
    flex-direction: row;
    margin-bottom: 0;
  }
  #menu-toggle > .navigation li:not(:first-child) {
    margin-left: min(1vw, 1.5rem);
  }
}

/*** EXCEPTIONS ***/
.stack--center {
  justify-content: center;
}

.stack--thin *:not(:first-child) {
  margin-left: 1.5rem;
}

/*** HLJS ***/

/* Copyright (c) 2006, Ivan Sagalaev.
 * https://github.com/highlightjs/highlight.js/blob/86dcb210227ef130a00b5ece50605ea1ec887be8/src/styles/default.css */
pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}

code.hljs {
  padding: 3px 5px;
}

/* Copyright 2017-2020 Stack Exchange Inc.
 * https://github.com/highlightjs/highlight.js/blob/86dcb210227ef130a00b5ece50605ea1ec887be8/src/styles/stackoverflow-light.css
 * https://github.com/highlightjs/highlight.js/blob/86dcb210227ef130a00b5ece50605ea1ec887be8/src/styles/stackoverflow-dark.css */
.hljs {
  color: var(--highlight-color, #2f3337);
  background: var(--highlight-bg, #f6f6f6);
}

.hljs-subst {
  color: var(--highlight-color, #2f3337);
}

.hljs-comment {
  color: var(--highlight-comment, #656e77);
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-meta .hljs-keyword,
.hljs-doctag,
.hljs-section {
  color: var(--highlight-keyword, #015692);
}

.hljs-attr {
  color: var(--highlight-attribute, #015692);
}

.hljs-attribute {
  color: var(--highlight-symbol, #803378);
}

.hljs-name,
.hljs-type,
.hljs-number,
.hljs-selector-id,
.hljs-quote,
.hljs-template-tag {
  color: var(--highlight-namespace, #b75501);
}

.hljs-selector-class {
  color: var(--highlight-keyword, #015692);
}

.hljs-string,
.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr {
  color: var(--highlight-variable, #54790d);
}

.hljs-meta,
.hljs-selector-pseudo {
  color: var(--highlight-keyword, #015692);
}

.hljs-built_in,
.hljs-title,
.hljs-literal {
  color: var(--highlight-literal, #b75501);
}

.hljs-bullet,
.hljs-code {
  color: var(--highlight-punctuation, #535a60);
}

.hljs-meta .hljs-string {
  color: var(--highlight-variable, #54790d);
}

.hljs-deletion {
  color: var(--highlight-deletion, #c02d2e);
}

.hljs-addition {
  color: var(--highlight-addition, #2f6f44);
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

/*** PAGE LAYOUT ***/

#root {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--header-background, #d7d9db);
  margin: 20px;
  overflow: hidden;
  /* height: calc(100vh - 40px); */
}

/* enabled conditionally with <noscript> */
#source {
  display: none;
}

/*** HOMEPAGE ***/

#home,
#subscribe {
  padding: 0 22px;
}

/*** REALM HELP ***/
#realm_render,
#realm_help {
  padding: 0 1.467rem;
}

#realm_help .func_specs {
  box-sizing: border-box;
  width: calc(100% + 1.467rem);
  margin-inline-start: -1.467rem;
}

#realm_help .func_spec {
  padding: 1.467rem;
  background: var(--realm-help-background-color, #d7d9db9e);
  margin-block-start: 1.467rem;
}
#realm_help .func_spec:nth-child(odd) {
  background: var(--realm-help-odd-background-color, #d7d9db45);
}

#realm_help .func_spec > table > tbody > tr > th {
  width: 3.333rem;
  vertical-align: top;
  text-align: right;
  color: var(--text-color, #000);
}

#realm_help .func_spec > table th,
#realm_help .func_spec > table td {
  padding-bottom: 16px;
}

#realm_help .func_spec > table th + td {
  padding-left: 1rem;
}

#realm_help .func_spec > table th + td table td {
  padding-left: 0.8rem;
}

#realm_help .func_spec .shell_command {
  color: var(--realm-help-code-color, #5d5d5d);
}

#realm_help .func_name td {
  font-weight: bold;
}

#realm_render ul,
#realm_help ul {
  list-style: disc;
}

#realm_render ul,
#realm_help ul {
  padding-inline-start: 1rem;
}

#realm_render ul > li > ul,
#realm_help ul > li > ul {
  padding-left: 1rem;
  list-style: circle inside;
}

/*** COMPONENTS ELEMENTS ***/

/** Jumbotron **/
.gno-jumbotron {
  border: 1px solid var(--border-color, #d7d9db);
  padding: 1.4rem;
  margin: 3.75rem auto;
}

.gno-jumbotron h1 {
  text-align: left;
}

.gno-jumbotron > *:first-child,
.gno-jumbotron > * > *:first-child {
  margin-block-start: 0;
}

.gno-jumbotron > *:last-child,
.jumbotron > * > *:last-child {
  margin-block-end: 0;
}

/** 68.75rem**/
@media screen and (min-width: 68.75rem) {
  .gno-jumbotron {
    margin: 3.75rem -3.5rem;
    padding: 3.5rem;
  }
  .gno-tabs > .gno-jumbotron {
    margin: 1.5rem -3.5rem 3.75rem;
    padding: 3.5rem;
  }
}

/** Breadcrumb **/
.gno-breadcrumb > ol,
.gno-breadcrumb > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-block-end: 1rem;
  list-style: none;
  background-color: var(--input-background-color, #1e1e1e);
}

.gno-breadcrumb li {
  margin-bottom: 0;
}
#realm_render .gno-breadcrumb ul,
#realm_help .gno-breadcrumb ul,
#realm_render .gno-breadcrumb ol,
#realm_help .gno-breadcrumb ol {
  list-style: none;
}

.gno-breadcrumb li[aria-current="page"] > a {
  pointer-events: none;
  color: var(--muted-color, #757575);
  text-decoration: none;
}

.gno-breadcrumb li:not(:first-child)::before {
  display: inline-block;
  padding-inline: 0.5rem;
  color: var(--link-color, #25172a);
  content: "/";
}

/** Pagination **/
.gno-pagination > ol,
.gno-pagination > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin-block-end: 1rem;
  list-style: none;
}
.gno-pagination li {
  margin-block-end: 0;
}
#realm_render .gno-pagination ul,
#realm_help .gno-pagination ul,
#realm_render .gno-pagination ol,
#realm_help .gno-pagination ol {
  list-style: none;
}

.gno-pagination li:not(:last-child) {
  margin-inline-end: 0.2rem;
}

.gno-pagination li[aria-current="page"] > a {
  pointer-events: none;
  color: var(--muted-color, #757575);
}

.gno-pagination a {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-inline-start: -1px;
  line-height: 1.25;
  color: var(--text-color-reverse, #eee);
  background-color: var(--text-color, #000);
  border: 1px solid transparent;
  text-decoration: none;
}

.gno-pagination a:hover {
  color: var(--text-color, #000);
  background-color: var(--background-color, #eee);
  border-color: var(--text-color, #000);
}

.gno-pagination li:first-child a {
  margin-inline-start: 0;
}

.pagination li:last-child a {
  margin-inline-end: 0;
}

/** Button **/
.gno-btn {
  cursor: pointer;
  color: var(--text-color-reverse, #eee);
  background-color: var(--text-color, #000);
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  text-decoration: none;
  margin-inline-end: 0.2rem;
}

.gno-btn:hover {
  color: var(--text-color, #000);
  background-color: var(--background-color, #eee);
  border-color: var(--text-color, #000);
}

.gno-btn:not(:disabled):active {
  color: var(--text-color, #000);
  background-color: var(--background-color, #eee);
  border-color: var(--text-color, #000);
}

/** Accordion **/
.gno-accordion-trigger {
  width: 100%;
  text-align: left;
  margin-block-start: 1rem;
}

.gno-accordion-trigger + div {
  padding: 0.875rem 0.7rem 2.2rem;
  background: var(--code-background, #d7d9db);
  margin-block-end: 1rem;
}

.gno-accordion > p {
  margin-block: 0;
}

@media screen and (min-width: 68.75rem) {
  .gno-accordion .gno-accordion-trigger ~ div {
    padding: 0.875rem 0 2.2rem 2rem;
  }
}

/** Inputs **/
.gno-input {
  margin-block: 1rem;
}

.gno-input label {
  margin-block-end: 0.3rem;
}
.gno-input input,
.gno-input select,
.gno-input textarea {
  margin-block: 0;
}

/** Input - Checkbox **/
.gno-checkboxes > div {
  display: flex;
}

.gno-checkboxes {
  margin-block: 1rem;
}

/** Alert **/
.gno-alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-block-end: 1rem;
  border: 1px solid transparent;
}

.gno-alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.gno-alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.gno-alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.gno-alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

/** Dropdown **/
.gno-dropdown {
  position: relative;
  margin-block: 1rem;
}

.gno-dropdown > ul,
.gno-dropdown > ol {
  position: absolute;
  top: calc(100% - 0.2rem);
  left: 0;
  z-index: 1000;
  display: block;
  float: left;
  min-width: 10rem;
  padding: 0.8rem 0.7rem;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  text-align: left;
  list-style: none;
  background-color: var(--text-color);
  background-clip: padding-box;
}
.gno-dropdown li {
  margin-block: 0.8rem;
}
#realm_render .gno-dropdown ul,
#realm_help .gno-dropdown ul,
#realm_render .gno-dropdown ol,
#realm_help .gno-dropdown ol {
  list-style: none;
}

.gno-dropdown a {
  color: var(--text-color-reverse, #eee);
}
.gno-dropdown a:hover {
  color: var(--hover-color-reverse, #b0b0b0);
}

/** Tabs **/
.gno-tabs button {
  border: none;
  cursor: pointer;
  text-decoration: underline;
  padding: 0;
  background: none;
  color: var(--text-color, #000);
}

.gno-tabs nav ul {
  list-style: none;
}
#realm_render .gno-tabs ul,
#realm_help .gno-tabs ul,
#realm_render .gno-tabs ol,
#realm_help .gno-tabs ol {
  list-style: none;
  padding: 0;
}

.gno-tabs button[aria-selected="true"] {
  font-weight: 700;
}

.gno-tabs > div[class^="columns-"] {
  margin-block-end: 2.5rem;
}

.gor-accordion button::first-letter {
  font-size: 1.5em;
  color: var(--text-color, #000);
}
