@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src:
    url("./fonts/roboto/roboto-mono-normal.woff2") format("woff2"),
    url("./fonts/roboto/roboto-mono-normal.woff") format("woff");
}

@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: block;
  font-variant: normal;
  font-style: oblique 0deg 10deg;
  src: url("./fonts/intervar/Intervar.woff2") format("woff2");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-interVar text-gray-600 bg-light text-200;
    font-feature-settings:
      "kern" on,
      "liga" on,
      "calt" off,
      "zero" on;
    -webkit-font-feature-settings:
      "kern" on,
      "liga" on,
      "calt" off,
      "zero" on;
    text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    font-variant-ligatures: contextual common-ligatures;
    font-kerning: normal;
    text-rendering: optimizeLegibility;
  }

  svg {
    @apply max-w-full max-h-full;
  }

  form {
    @apply my-0;
  }

  .realm-view {
    @apply text-200 break-words pt-6 lg:pt-10;
  }

  .realm-view > *:first-child {
    @apply !mt-0;
  }

  .realm-view a {
    @apply relative text-green-600 font-medium hover:underline;
  }

  .realm-view h1,
  .realm-view h2,
  .realm-view h3,
  .realm-view h4 {
    @apply text-gray-900 mt-12 leading-tight;
  }

  .realm-view h2,
  .realm-view h2 * {
    @apply font-bold;
  }

  .realm-view h3,
  .realm-view h3 *,
  .realm-view h4,
  .realm-view h4 * {
    @apply font-semibold;
  }

  .realm-view h1 + h2,
  .realm-view h2 + h3,
  .realm-view h3 + h4 {
    @apply mt-4;
  }

  .realm-view h1 {
    @apply text-800 font-bold;
  }

  .realm-view h2 {
    @apply text-600;
  }

  .realm-view h3 {
    @apply text-400 text-gray-600 mt-10;
  }

  .realm-view h4 {
    @apply text-300 text-gray-600 font-medium my-6;
  }

  .realm-view p {
    @apply my-5;
  }

  .realm-view strong {
    @apply font-bold text-gray-900;
  }

  .realm-view strong * {
    @apply font-bold;
  }

  .realm-view em {
    @apply italic-subtle;
  }

  .realm-view blockquote {
    @apply border-l-4 border-gray-300 pl-4 text-gray-600 italic-subtle my-4;
  }

  .realm-view ul,
  .realm-view ol {
    @apply pl-4 my-6;
  }

  .realm-view ul li,
  .realm-view ol li {
    @apply mb-2;
  }

  .realm-view img {
    @apply max-w-full my-8 border border-gray-100 select-none rounded ;
  }

  .realm-view figure {
    @apply my-6 text-center;
  }

  .realm-view figcaption {
    @apply text-100 text-gray-600;
  }

  .realm-view :not(pre) > code {
    @apply bg-gray-100 px-1 py-0.5 rounded-sm text-[.96em] font-mono;
  }

  .realm-view pre {
    @apply bg-gray-50 p-4 rounded overflow-x-auto font-mono;
  }

  .realm-view hr {
    @apply border-t border-gray-100 my-10;
  }

  .realm-view table {
    @apply my-8 block w-full max-w-full overflow-x-auto border-collapse;
  }

  .realm-view th,
  .realm-view td {
    @apply border px-4 py-2 break-words whitespace-normal;
  }

  .realm-view th {
    @apply bg-gray-100 font-bold;
  }

  .realm-view caption {
    @apply mt-2 text-100 text-gray-600 text-left;
  }

  .realm-view q {
    @apply quotes;
  }

  .realm-view q::before {
    content: open-quote;
  }

  .realm-view q::after {
    content: close-quote;
  }

  .realm-view ul ul,
  .realm-view ul ol,
  .realm-view ol ul,
  .realm-view ol ol {
    @apply my-2 pl-4;
  }

  .realm-view ul {
    @apply list-disc;
  }

  .realm-view ol {
    @apply list-decimal;
  }

  .realm-view abbr[title] {
    @apply border-b border-dotted cursor-help;
  }

  .realm-view details {
    @apply my-5;
  }

  .realm-view summary {
    @apply font-bold cursor-pointer;
  }

  .realm-view a code {
    @apply text-inherit;
  }

  .realm-view video {
    @apply max-w-full my-8;
  }

  .realm-view math {
    @apply font-mono;
  }

  .realm-view small {
    @apply text-100;
  }

  .realm-view del {
    @apply line-through;
  }

  .realm-view sub {
    @apply text-50 align-sub;
  }

  .realm-view sup {
    @apply text-50 align-super;
  }

  .realm-view input,
  .realm-view button {
    @apply px-4 py-2 border border-gray-300;
  }

  main :is(h1, h2, h3, h4) {
    @apply scroll-mt-24;
  }

  ::-moz-selection {
    @apply bg-green-600 text-light;
  }
  ::selection {
    @apply bg-green-600 text-light;
  }

  /* MD components */
  .realm-view .gno-columns {
    @apply flex flex-wrap gap-x-10 xxl:gap-x-12;
  }
  .realm-view .gno-columns > * {
    @apply grow shrink basis-52 lg:basis-44;
  }
}

@layer components {
  /* header */
  .sidemenu .peer:checked + label > svg {
    @apply text-green-600;
  }

  /* toc */
  .toc-expend-btn:has(#toc-expend:checked) + nav {
    @apply block;
  }
  .toc-expend-btn:has(#toc-expend:checked) .toc-expend-btn_ico {
    @apply rotate-180;
  }

  /* sidebar */
  .main-header:has(#sidemenu-summary:checked) + main #sidebar #sidebar-summary,
  .main-header:has(#sidemenu-source:checked) + main #sidebar #sidebar-source,
  .main-header:has(#sidemenu-docs:checked) + main #sidebar #sidebar-docs,
  .main-header:has(#sidemenu-meta:checked) + main #sidebar #sidebar-meta {
    @apply block;
  }

  :is(.main-header:has(#sidemenu-source:checked), .main-header:has(#sidemenu-docs:checked), .main-header:has(#sidemenu-meta:checked)) + main .realm-view,
  :is(.main-header:has(#sidemenu-source:checked), .main-header:has(#sidemenu-docs:checked), .main-header:has(#sidemenu-meta:checked)) .main-navigation {
    @apply md:col-span-6;
  }
  :is(.main-header:has(#sidemenu-source:checked), .main-header:has(#sidemenu-docs:checked), .main-header:has(#sidemenu-meta:checked)) + main #sidebar,
  :is(.main-header:has(#sidemenu-source:checked), .main-header:has(#sidemenu-docs:checked), .main-header:has(#sidemenu-meta:checked)) .sidemenu {
    @apply md:col-span-4;
  }
  :is(.main-header:has(#sidemenu-source:checked), .main-header:has(#sidemenu-docs:checked), .main-header:has(#sidemenu-meta:checked)) + main #sidebar::before {
    @apply absolute block content-[''] top-0 w-[50vw] h-full -left-7 bg-gray-100 z-min;
  }

  /* Tooltip */
  .tooltip {
    --tooltip-left: 0;
    --tooltip-right: initial;
    @apply relative inline;
  }

  .tooltip::after {
    content: attr(data-tooltip);
    left: var(--tooltip-left);
    right: var(--tooltip-right);
    @apply absolute z-max scale-0 invisible px-2 py-1 bg-light rounded border border-gray-100 w-fit min-w-32 max-w-48 top-full text-center text-100 text-gray-600 font-normal transition-opacity opacity-0;
  }

  .tooltip:hover::after {
    @apply visible opacity-100 delay-300 scale-100;
  }

  /* chroma */
  main :is(.source-code) > pre {
    @apply !bg-light overflow-scroll rounded py-4 md:py-8 px-1 md:px-3 font-mono text-100 md:text-200;
  }
  main .realm-view > pre a {
    @apply hover:no-underline;
  }

  main :is(.realm-view, .source-code) > pre .chroma-ln:target {
    @apply !bg-transparent;
  }
  main :is(.realm-view, .source-code) > pre .chroma-line:has(.chroma-ln:target),
  main :is(.realm-view, .source-code) > pre .chroma-line:has(.chroma-lnlinks:hover),
  main :is(.realm-view, .source-code) > pre .chroma-line:has(.chroma-ln:target) .chroma-cl,
  main :is(.realm-view, .source-code) > pre .chroma-line:has(.chroma-lnlinks:hover) .chroma-cl {
    @apply !bg-gray-100 rounded;
  }
  main :is(.realm-view, .source-code) > pre .chroma-ln {
    @apply scroll-mt-24;
  }

  .dev-mode .toc-expend-btn {
    @apply bg-gray-100 hover:bg-gray-50 cursor-pointer border lg:border-none lg:bg-transparent;
  }
  .dev-mode #sidebar-summary {
    @apply bg-light lg:bg-transparent;
  }
  .dev-mode .toc-nav {
    @apply font-mono;
  }
}

@layer utilities {
  .italic-subtle {
    font-style: oblique 14deg;
  }

  .quotes {
    @apply italic-subtle text-gray-600 border-l-4 border-l-gray-300 pl-4 my-6 [quotes:"""_""""_"''_"''"];
  }

  .quotes::before,
  .quotes::after {
    @apply [content:open-quote] text-600 text-gray-300 mr-1 [vertical-align:-0.4rem];
  }

  .quotes::after {
    @apply [content:close-quote];
  }

  .text-stroke {
    -webkit-text-stroke: currentColor;
    -webkit-text-stroke-width: 0.6px;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .link-external {
    @apply text-[.7em];
  }
  .link-internal {
    @apply font-[400] text-[.8em];
  }
  .link-tx {
    @apply text-[.8em];
  }

  .tooltip {
    @apply inline align-text-top;
  }

  /* link with image only shoud display the link badge on the image */
  .realm-view a:has(> img:first-child):has(.tooltip:last-child):not(:has(> :nth-child(3))) > .tooltip,
  .realm-view a:has(> img:first-child):has(.tooltip + .tooltip:last-child):not(:has(> :nth-child(4))) > .tooltip  {
    @apply absolute bottom-2 left-2 bg-light px-1 rounded-full ml-0;
  }
  .realm-view a:has(> img:first-child):has(.tooltip + .tooltip:last-child):not(:has(> :nth-child(4))) > .tooltip:first-of-type  {
    @apply absolute bottom-1 left-6;
  }

  .realm-view a > span:first-of-type {
    @apply ml-0.5;
  }

  .field-content {
    field-sizing: content;
  }
}

/* supports rules */
@supports not (field-sizing: content) {
  .focus-no-field-sizing\:w-20:focus {
    width: 5rem !important;
  }
}
