# CODEOWNERS: https://help.github.com/articles/about-codeowners/

# Primary repo maintainers.
*                             @gnolang/tech-staff

# Tendermint2 (Gno version).
/tm2/*                        @gnolang/tech-staff
/tm2/pkg                      @jaekwon @piux2 @moul @zivkovicmilos
/tm2/pkg/crypto               @jaekwon @moul @gnolang/security
# TODO: add per package exceptions
# ...

# Docs & Content.
/docs/                        @gnolang/devrels
/misc/docusaurus/             @gnolang/devrels
/README.md                    @gnolang/devrels
/.gitpod.yml                  @gnolang/devrels

# Gno examples and default contracts.
/examples/                    @gnolang/tech-staff @gnolang/devrels
/examples/gno.land/p/demo/    @gnolang/tech-staff @gnolang/devrels
/examples/gno.land/r/demo/    @gnolang/tech-staff @gnolang/devrels
/examples/gno.land/r/gnoland/ @moul
/examples/gno.land/p/gov/     @moul
/examples/gno.land/p/sys/     @moul
/examples/gno.land/r/gov/     @moul
/examples/gno.land/r/sys/     @moul
/examples/gno.land/r/worx/    @moul
/examples/gno.land/r/x        @gnolang/devrels
# TODO: add people from the community here.
/examples/gno.land/r/jaekwon/ @jaekwon
/examples/gno.land/r/manfred/ @moul

# Gno.land.
/gno.land/                    @moul
/gno.land/pkg/integration     @gfanton
#...

# GnoVM/Gnolang.
/gnovm/                       @gnolang/tech-staff
/gnovm/stdlibs                @jaekwon @thehowl
/gnovm/tests                  @jaekwon @piux2 @thehowl @moul
/gnovm/cmd/gno                @jaekwon @thehowl @harry-hov @moul
/gnovm/pkg/gnolang            @jaekwon @piux2 @thehowl @moul
/gnovm/pkg/doc                @thehowl
/gnovm/pkg/gnomod             @harry-hov
/gnovm/pkg/integration        @gfanton
#/gnovm/pkg/gnoenv
#/gnovm/pkg/repl

# Contribs
/contribs/                    @gnolang/tech-staff
/contribs/gnodev              @gfanton
/contribs/gnokeykc            @moul
/contribs/gnomd               @moul
#...

# Misc
/misc/                        @gnolang/tech-staff
/misc/loop                    @moul @gnolang/devops
/misc/deployments             @moul @gnolang/devops
/misc/genstd                  @thehowl
#...

# Special files.
/PLAN.md                      @jaekwon @moul
/PHILOSOPHY.md                @jaekwon
/CONTRIBUTING.md              @jaekwon @moul @gnolang/tech-staff
/LICENSE.md                   @jaekwon
/.github/                     @moul @gnolang/tech-staff
/.github/CODEOWNERS           @jaekwon @moul
