package {{.PkgName}}

func init() {
}

// Render is called when browsing the realm in a web browser.
// path contains the URL path after the realm's base path.
func Render(_ string) string {
	return "# {{.PkgName}}\n\nHello, world!\n"
}
