# Editor Leftovers
.DS_Store
.vscode
.idea

# Default node data
gnoland-data
genesis.json

# Build leftovers
build
dist

# Legacy .gitignore
data/*
testdir

# Log + generation leftovers
*.tx
*.log.*
*.log
*.gno.gen.go
*.gno.gen_test.go
*.pb.go
pbbindings.go
*~
.#*
*#

# Test coverage leftovers
cover.out
coverage.out

*.swp
*.swo
*.swn
*.swm
*.bak

.tmp/
wal/
!/tm2/pkg/bft/wal/

# Gnoweb frontend
node_modules/
