misc/
*.sw[pon]
cmd/foo.go
unsorted.*
.DS_Store
data/*
proto/*
testdir
pkgs/sdk/vm/_testdata
cmd/gnodev/gnodev
build/*
*.tx
*.log.*
*.log
*.gno.gen.go
*.gno.gen_test.go
.vscode
.idea
*.pb.go
pbbindings.go
