# Editor Leftovers
.DS_Store
.vscode
.idea

# Default node data
gno-chain
genesis.json

# Build leftovers
build

# Log + generation leftovers
*.tx
*.log.*
*.log
*.gno.gen.go
*.gno.gen_test.go
*.pb.go
pbbindings.go
*~
.#*
*#

# Test coverage leftovers
cover.out
coverage.out
