{{- define "app" -}}
<!DOCTYPE html>
<html>
  <head>
    <title>Gno.land</title>
    {{ template "html_head" }}
  </head>
  <body onload="main()">
    <div id="root">
      <div id="header">
        {{ template "header_logo" }}
        <span id="logo_path">
          <a href="{{ .Data.DirPath }}">{{ .Data.DirPath }}</a>/*
        </span>
        {{ template "header_buttons" }}
      </div>

      <div id="packge_dir">
        {{ template "dir_contents" . }}
      </div>

      {{ template "footer" }}
    </div>
    {{ template "js" }}
  </body>
</html>
{{- end -}}

{{ define "dir_contents" }}
<div class="dir_contents">
  {{ $dirPath := .Data.DirPath }}
  <ul>
    {{ range .Data.Files }}
    <li class="dir_entry">
      <a href="{{ $dirPath }}/{{ . }}">{{ . }}</a>
    </li>
    {{ end }}
  </ul>
</div>
{{ end }}
