{{- define "app" -}}
<!DOCTYPE html>
<html>
  <head>
    {{ template "html_head" . }}
    <title>Gno.land - {{.Data.RealmName}}</title>
  </head>
  <body onload="main()">
    <div id="root">
      <div id="header">{{ template "header_logo" }} {{ template "header_buttons" }}</div>
      <div class="inline-list">
        <span id="logo_path"
          ><a href="/r/{{ .Data.RealmName }}">/r/{{ .Data.RealmName }}</a>
          {{- if .Data.Query -}}:{{- end -}} {{- range $index, $link := .Data.PathLinks -}} {{- if (gt $index 0) }}/{{ end -}}
          <a href="{{ $link.URL }}">{{ $link.Text }}</a>
          {{- end -}}
        </span>
        <span id="realm_links">
          <a href="/r/{{ .Data.RealmName }}/">[source]</a>
          <a href="/r/{{ .Data.RealmName }}?help">[help]</a>
        </span>
      </div>

      <div id="realm_render" class="container">
        <pre id="source">{{ .Data.Contents }}</pre>
      </div>
      {{ template "footer" }}
    </div>
    {{ template "js" .}}
  </body>
</html>
{{- end -}}
