{{- define "layout/analytics" -}}
<!-- 100% privacy-first analytics -->
<script src="{{ .AssetsPath }}js/sa-bootstrap.js?v={{ .BuildTime }}" data-page-type="{{ .PageType }}" data-chain-id="{{ .ChainId }}"></script>
<script async defer{{ with .Hostname }} data-hostname="{{ . }}"{{ end }} src="https://sa.gno.services/latest.js"></script>
<script async defer{{ with .Hostname }} data-hostname="{{ . }}"{{ end }} src="https://sa.gno.services/auto-events.js"></script>
<script type="module" src="{{ .AssetsPath }}js/analytics.js?v={{ .BuildTime }}"></script>
<noscript>
  <img src="https://sa.gno.services/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" />
</noscript>
{{- end -}}
