{{/* ===================================================================================
LAYOUT - Aside component
=================================================================================== */}}
{{- define "layout/aside" }}
<aside class="b-sidebar sidebar" aria-label="Table of Contents">
  <div>
    <div id="sidebar-summary" class="inner u-no-scrollbar">
      {{ template "ui/expend_label" "On this page"}}
      <nav>{{ . }}</nav>
    </div>
  </div>
</aside>
{{ end }}

{{/* ===================================================================================
UI - Expend Label component
=================================================================================== */}}
{{ define "ui/expend_label" }}
<label for="toc-expend" class="b-expend-btn">
  {{ . }}
  <input id="toc-expend" type="checkbox" />
  <span class="wrapper-icon">
    <svg class="c-icon u-icon-static">
      <use href="#ico-arrow-down"></use>
    </svg>
  </span>
</label>
{{ end }}