{{ define "layouts/footer" }}
<footer class="b-footer">
  <nav class="c-center c-view-grid">
    <a class="logo" href="/">{{ template "ui/logo" }}</a>
    <div class="menu c-view-grid">
      {{ range .Sections }}
      <ul aria-label="{{ .Title }}">
        {{ range .Links }}
        <li><a href="{{ .URL }}">{{ .Label }}</a></li>
        {{ end }}
        {{ if eq .Title "Legal" }}
        <li>
          <button type="button" class="b-btn" data-controller="theme" data-action="click->theme#toggle"
            aria-label="Toggle theme" title="Toggle theme">
            <svg data-theme-target="sun" class="u-hidden c-icon">
              <title>Light theme</title>
              <use href="#ico-sun"></use>
            </svg>
            <svg data-theme-target="moon" class="c-icon">
              <title>Dark theme</title>
              <use href="#ico-moon"></use>
            </svg>
          </button>
        </li>
        {{ end }}
      </ul>
      {{ end }}
    </div>
  </nav>
</footer>

<!-- javascript module src -->
<script type="module" src="{{ .AssetsPath }}js/controller.js?v={{ .BuildTime }}"></script>
<script type="module" src="{{ .AssetsPath }}js/index.js?v={{ .BuildTime }}"></script>

{{- if .Analytics -}} {{- template "layout/analytics" }}{{- end -}} {{ end }}