{{ define "layouts/footer" }}
<footer class="b-footer">
  <nav class="c-center c-view-grid">
    <div class="nav-primary">
      <a class="logo" href="/">{{ template "ui/logo" }}</a>
      {{ with index .Sections 0 }}
      <ul aria-label="{{ .Title }}">
        {{ range .Links }}
        <li><a href="{{ .URL }}">{{ .Label }}</a></li>
        {{ end }}
      </ul>
      {{ end }}
    </div>
    {{ with index .Sections 1 }}
    <ul class="nav-social" aria-label="{{ .Title }}">
      {{ range .Links }}
      <li><a href="{{ .URL }}">{{ .Label }}</a></li>
      {{ end }}
    </ul>
    {{ end }}
  </nav>
  <div class="legal c-center">
    <p>{{ .LegalNotice }}</p>
    <nav aria-label="Legal">
      {{ range .LegalLinks }}
      <a href="{{ .URL }}">{{ .Label }}</a>
      {{ end }}
    </nav>
  </div>
</footer>

<!-- javascript module src -->
<script type="module" src="{{ .AssetsPath }}js/controller.js?v={{ .BuildTime }}"></script>
<script type="module" src="{{ .AssetsPath }}js/index.js?v={{ .BuildTime }}"></script>

{{- if .Analytics -}} {{- template "layout/analytics" }}{{- end -}} {{ end }}
