{{ define "layouts/header" }}
<header class="main-header sticky top-0 bg-light border-b text-100 z-max">
  <nav aria-label="Realm navigation" class="max-w-screen-max mx-auto px-4 md:px-10 grid grid-cols-10 grid-flow-dense gap-4 md:gap-x-8 lg:gap-x-20 xxl:gap-x-32 items-center">
    <div class="main-navigation flex items-center gap-1 col-span-7 max-w-screen-max h-full py-2">
      <a href="/" class="rounded border border-gray-100 cursor-pointer h-10 w-10 shrink-0">
        <img src="/public/imgs/gnoland.svg" alt="Gno username profile pic" width="40px" height="40px" />
      </a>

      <form class="js-header-searchbar relative overflow-scroll no-scrollbar flex items-center bg-gray-100 has-[:focus-within]:border-gray-300 border h-full border-gray-100 p-1.5 rounded w-full">
        <input
          data-role="header-input-search"
          type="text"
          value="{{ .RealmPath }}"
          class="peer absolute w-full top-0 left-0 h-full bg-transparent p-1.5 text-200 outline-none text-gray-600 font-medium"
        />

        {{ template "ui/breadcrumb" .Breadcrumb }}

        <!-- <div class="absolute z-max right-2 0 text-50 before:absolute before:block before:w-px before:h-full before:-left-2.5 before:bg-gray-200">{{ .ChainId }}</div> -->
        <!-- <a href="#popup" class="absolute z-max right-2 text-50">{{ .ChainId }}</a> -->

        <label for="popup-toggle" class="absolute z-max right-2 text-50">Ouvrir la popin</label>

        <input type="checkbox" id="popup-toggle" class="hidden peer" />
        <label
          for="popup-toggle"
          class="fixed z-max inset-0 flex items-center justify-center opacity-0 invisible transition-opacity duration-300 peer-checked:opacity-100 peer-checked:visible"
        ></label>

        <div class="z-max fixed top-0 right-0 bg-light flex items-center justify-center opacity-0 invisible transition-opacity duration-300 peer-checked:opacity-100 peer-checked:visible">
          <div class="bg-white p-6 pt-8 rounded shadow-lg w-56 relative">
            <label for="popup-toggle" class="absolute top-2 right-2 text-2xl text-gray-500 hover:text-black cursor-pointer">&times;</label>
            <div class="w-full flex justify-between items-center">
              <span>Chain ID</span>
              <span>{{ .ChainId }}</span>
            </div>
          </div>
        </div>
      </form>
    </div>

    <form class="sidemenu col-span-3 flex justify-end lg:justify-start gap-3 sm:gap-6 h-full text-100 text-gray-400">{{ range .Links }} {{ template "ui/header_link" . }} {{ end }}</form>
  </nav>
</header>
{{ end }}
