{{ define "index" -}}
<!doctype html>
<html lang="en"{{ with .Theme }} data-theme="{{ . }}"{{ end }}>
{{ template "layouts/head" .IndexData.HeadData -}}

<body>
  {{ template "ui/icons" -}}
  {{ if .IndexData.Banner.Enabled -}}
  {{ if .IndexData.Banner.HasURL -}}
  <a href="{{ .IndexData.Banner.URL }}" target="_blank" rel="noopener noreferrer" class="b-banner">
    <span>{{ render .IndexData.Banner }}</span>
  </a>
  {{ else -}}
  <div class="b-banner">
    <span>{{ render .IndexData.Banner }}</span>
  </div>
  {{ end -}}
  {{ end -}}
  {{ template "layouts/header" .IndexData.HeaderData -}}
  <main {{ if .IsDevmodView }}class="dev-mode" {{ end }}>
    <section class="c-center">
      {{ render .IndexData.BodyView -}}
    </section>
  </main>
  {{ template "layouts/footer" .FooterData -}}
</body>

</html>
{{ end }}