on:
  workflow_call:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.21.x

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Go test
        run: go test -shuffle=on -coverprofile coverage.out -timeout 5m ./...

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          slug: gnolang/libtm
          files: coverage.out
          verbose: true
          token: ${{ secrets.CODECOV_TOKEN }}

  test-with-race:
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.21.x

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Go race test
        run: go test -race -shuffle=on -timeout 5m ./...
