{{- define "header_buttons" -}}
<div id="header_buttons">
  <nav role="navigation">
    <div id="menu-toggle">
      <input type="checkbox" />

      <!-- Burger Icon -->
      <span></span>
      <span></span>
      <span></span>

      <div class="navigation">
        <ul>
          <li><a href="/about">About</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="https://docs.gno.land/">Docs</a></li>
          <li><a href="https://play.gno.land/">Playground</a></li>
          <li><a href="/gor">Game of Realms</a></li>
        </ul>

        <div class="buttons">
          <a href="https://github.com/gnolang/gno">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
              <path
                d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"
                fill="currentColor"
              />
            </svg>
          </a>
          <button title="Toggle dark mode" id="theme-toggle">
            <!--
              Copyright (c) 2013-2017 Cole Bemis
              https://feathericons.com/
            -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              id="theme-toggle-sun"
            >
              <circle cx="12" cy="12" r="5"></circle>
              <line x1="12" y1="1" x2="12" y2="3"></line>
              <line x1="12" y1="21" x2="12" y2="23"></line>
              <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
              <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
              <line x1="1" y1="12" x2="3" y2="12"></line>
              <line x1="21" y1="12" x2="23" y2="12"></line>
              <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
              <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              id="theme-toggle-moon"
            >
              <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </nav>
</div>
{{- end -}}

{{- define "html_head" -}}
<meta charset="utf-8" />
{{if .Data.Description}}<meta name="description" content="{{ .Data.Description }}" />{{end}}
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="stylesheet" href="/static/css/normalize.css" />
<link rel="stylesheet" href="/static/css/app.css" />
<noscript>
  <style type="text/css">
    #source { display: block; }
    #theme-toggle { display: none; }
  </style>
</noscript>
<script>
  (function () {
    const storageKey = "website_theme";
    const themeDark = "dark";
    const themeLight = "light";

    function getColorPreference() {
      if (localStorage.getItem(storageKey)) return localStorage.getItem(storageKey);
      return window.matchMedia("(prefers-color-scheme: dark)").matches ? themeDark : themeLight;
    }
    function setTheme(value) {
      document.firstElementChild.setAttribute("data-theme", value);
    }
    setTheme(getColorPreference());
    window.matchMedia("(prefers-color-scheme: dark)").addEventListener("change", function (e) {
      if (!localStorage.getItem(storageKey)) setTheme(e.matches ? themeDark : themeLight);
    });
    window.addEventListener("load", function () {
      document.getElementById("theme-toggle").addEventListener("click", function (e) {
        e.preventDefault();
        const newValue = getColorPreference() === themeLight ? themeDark : themeLight;
        localStorage.setItem(storageKey, newValue);
        setTheme(newValue);
      });
    });
  })();
</script>
{{- end -}}

{{- define "header_logo" -}}
<a id="logo" href="/">
  <img src="/static/img/logo.png" alt="Gno.land" title="Gno.land" height="38" />
</a>
{{- end -}}

{{- define "footer" -}}
<footer class="footer">
  <img src="/static/img/logo.png" alt="Gno.land" width="70" />
</footer>
{{- end -}}

{{- define "js" -}}
<script type="text/javascript" src="/static/js/marked.min.js"></script>
<script type="text/javascript" src="/static/js/umbrella.min.js"></script>
<script type="text/javascript" src="/static/js/purify.min.js"></script>
<script type="text/javascript" src="/static/js/renderer.js"></script>
<script type="text/javascript">
  function main() {
    const parsed = parseContent(document.getElementById("source").innerHTML);
    const DOM = {
      home: document.getElementById("home"),
      realm_render: document.getElementById("realm_render"),
    };

    for (const [key, el] of Object.entries(DOM)) {
      if (el !== null) {
        el.innerHTML = DOMPurify.sanitize(parsed, {
          USE_PROFILES: { html: true },
        });
      }
    }
  }
</script>
{{ template "analytics" .}}
{{- end -}}

{{- define "analytics" -}}
{{- if .Data.Config.WithAnalytics -}}
<!-- 100% privacy-first analytics -->
<script async defer src="https://sa.gno.services/latest.js"></script>
<noscript><img src="https://sa.gno.services/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>
{{- end -}}
{{- end -}}

{{- define "subscribe" -}}
<!-- mailchimp -->
<div id="mc_embed_signup" class="container">
  <form
    action="https://land.us18.list-manage.com/subscribe/post?u=8befe3303cf82796d2c1a1aff&amp;id=271812000b&amp;f_id=009170e7f0"
    method="post"
    id="mc-embedded-subscribe-form"
    name="mc-embedded-subscribe-form"
    class="validate"
    target="_self"
  >
    <label for="mce-EMAIL"><img src="/static/img/ico-email.svg" alt="email" /><span>Subscribe by email:</span></label>
    <div id="mc_embed_signup_scroll">
      <div class="mc-field-group">
        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Type your email here" required />
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" />
        <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
      </div>
      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display: none"></div>
        <div class="response" id="mce-success-response" style="display: none"></div>
      </div>
      <div style="position: absolute; left: -5000px" aria-hidden="true">
        <input type="text" name="b_8befe3303cf82796d2c1a1aff_271812000b" tabindex="-1" value="" />
      </div>
    </div>
  </form>
</div>
<!-- /mailchimp -->
{{- end -}}
