{{- define "app" -}}
<!DOCTYPE html>
<html>
  <head>
    {{ template "html_head" . }}
    <title>Gno.land - {{.Data.DirPath}}</title>
  </head>
  <body onload="main()">
    <div id="root">
      <div id="header">{{ template "logo" }} {{ template "header_buttons" }}</div>
      <div class="inline-list">
        <span id="logo_path"> <a href="{{ .Data.DirPath }}">{{ .Data.DirPath }}</a>/* </span>
      </div>
      <div id="packge_dir" class="container">{{ template "dir_contents" . }}</div>
      {{ template "footer" }}
    </div>
    {{ template "js" . }}
  </body>
</html>
{{- end -}}

{{- define "dir_contents" -}}
<div class="dir_contents">
  {{ $dirPath := .Data.DirPath }}
  <ul>
    {{ range .Data.Files }}
    <li class="dir_entry">
      <a href="{{ $dirPath }}/{{ . }}">{{ . }}</a>
    </li>
    {{ end }}
  </ul>
</div>
{{- end -}}
