
    @font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: normal;
    src: local('Roboto Mono Regular'), url('RobotoMono-Regular.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Roboto Mono';
    font-style: italic;
    font-weight: normal;
    src: local('Roboto Mono Italic'), url('RobotoMono-Italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Mono Thin'), url('RobotoMono-Thin.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Roboto Mono';
    font-style: italic;
    font-weight: 300;
    src: local('Roboto Mono Thin Italic'), url('RobotoMono-ThinItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 200;
    src: local('Roboto Mono Light'), url('RobotoMono-Light.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Roboto Mono';
    font-style: italic;
    font-weight: 200;
    src: local('Roboto Mono Light Italic'), url('RobotoMono-LightItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Mono Medium'), url('RobotoMono-Medium.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Roboto Mono';
    font-style: italic;
    font-weight: 500;
    src: local('Roboto Mono Medium Italic'), url('RobotoMono-MediumItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Roboto Mono Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Mono Bold'), url('RobotoMono-Bold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Roboto Mono';
    font-style: italic;
    font-weight: 700;
    src: local('Roboto Mono Bold Italic'), url('RobotoMono-BoldItalic.woff') format('woff');
    }