@import url("../font/font.css");

:root {
  --background-color: #eee;
  --input-background-color: #eee;
  --text-color: #000;
  --link-color: #25172a;

  --quote-background: #ddd;
  --quote-2-background: #aaa4;
  --code-background: #d7d9db;
  --header-background: #d7d9db;

  --realm-help-background-color: #d7d9db9e;
  --realm-help-odd-background-color: #d7d9db45;
  --realm-help-code-color: #5d5d5d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #2e2e2e;
    --input-background-color: #393939;
    --text-color: #eee;
    --link-color: #ebe6ff;

    --quote-background: #404040;
    --quote-2-background: #555555;
    --code-background: #454545;
    --header-background: #454545;

    --realm-help-background-color: #45454545;
    --realm-help-odd-background-color: #4545459e;
    --realm-help-code-color: #b6b6b6;
  }

  #header img {
    filter: invert(1);
  }
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", "Courier New", "sans-serif";
  background-color: var(--background-color, #eee);
  color: var(--text-color, #000);
  font-size: 15px;
}

body {
  height: 100%;
  width: 100%;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a {
  color: var(--link-color, #25172a);
}

input {
  font-family: "Roboto Mono", "Monaco", monospace;
  background-color: var(--input-background-color, #eee);
  border: 1px solid #ccc;
  color: var(--text-color, #000);
  width: 25em;
}

blockquote {
  background-color: var(--quote-background, #ddd);
}

blockquote blockquote {
  margin: 0;
  background-color: var(--quote-2-background, #aaa4);
}

pre {
  background-color: var(--code-background, #d7d9db);
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--header-background, #d7d9db);
  margin: 20px;
  /* height: calc(100vh - 40px); */
}

#header {
  background-color: var(--header-background, #d7d9db);
  padding: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  color: var(--link-color, #25172a);
  position: relative;
  top: 4px;
  height: 45px;
  padding-right: 22px;
}

#logo_path a {
  text-decoration: none;
}

#logo_path {
  padding-right: 12px;
}

#logo_path a:hover {
  text-decoration: underline;
}

#realm_links a {
  font-size: 0.8rem;
}

#header_buttons {
  float: right;
  position: relative;
  padding-left: 22px;
  margin-left: auto;
}

#home,
#subscribe {
  padding: 0 22px;
}

#realm_render,
#realm_help {
  padding: 0 22px;
}

#realm_help .func_specs {
  box-sizing: border-box;
  width: calc(100% + 44px);
  margin-left: -22px;
}

#realm_help .func_spec {
  padding: 22px;
  background: var(--realm-help-background-color, #d7d9db9e);
  margin-top: 22px;
}
#realm_help .func_spec:nth-child(odd) {
  background: var(--realm-help-odd-background-color, #d7d9db45);
}

#realm_help .func_spec > table > tbody > tr > th {
  width: 50px;
  vertical-align: top;
  text-align: right;
  color: var(--text-color, #000);
}

#realm_help .func_spec > table th,
#realm_help .func_spec > table td {
  padding-bottom: 16px;
}

#realm_help .func_spec > table th + td {
  padding-left: 50px;
}

#realm_help .func_spec > table th + td table td {
  padding-left: 12px;
}

#realm_help .func_spec .shell_command {
  color: var(--realm-help-code-color, #5d5d5d);
}

#realm_help .func_name td {
  font-weight: bold;
}

#source {
  display: none;
}

#pkg_doc {
  padding: 0 22px;
}

#pkg_doc #pkg_doc__header__overview {
  padding: 10px 0;
}

#pkg_doc__body > .pkg_doc__section {
  padding: 10px 0;
}

#pkg_doc__body > .pkg_doc__section > .pkg_doc__section-heading {
  padding-top: 5px;
  padding-bottom: 5px;
}

.pkg_doc__variable {
  padding: 10px 0;
}

.pkg_doc__constant {
  padding: 10px 0;
}

.pkg_doc__comment {
  padding: 10px 10px;
}

.pkg_doc__comment pre {
  background-color: transparent;
}

.pkg_doc__section .pkg_doc__comment {
  padding: 1em 0;
}

.pkg_doc__section .pkg_doc__function {
  padding: 10px 0;
}

.pkg_doc__type {
  padding: 20px 0;
}

.pkg_doc__type-title {
  font-weight: bold;
}

.pkg_doc__type > .pkg_doc__function,
.pkg_doc__type > .pkg_doc__constant,
.pkg_doc__type > .pkg_doc__variable {
  padding: 5px 0 5px 20px;
}
