@import url("../font/font.css");

html{
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", "Courier New", "sans-serif";
  background-color: #eee;
  font-size: 15px;
}

body {
  height: 100%;
  width: 100%;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a {
  color: #25172a;
}

input {
  font-family: "Roboto Mono", "Monaco", monospace;
  background-color: #eee;
  border: 1px solid #ccc;
  color: black;
  width: 25em;
}

blockquote {
  background-color: #ddd;
}

blockquote blockquote {
  margin: 0;
  background-color: #aaa2;
}

pre {
  background-color: #d7d9db;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  border: 1px solid #d7d9db;
  margin: 20px;
  /* height: calc(100vh - 40px); */
}

#header {
  background-color: #d7d9db;
  padding: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  color: #25172a;
  position: relative;
  top: 4px;
  height: 45px;
  padding-right: 22px;
}

#logo_path a {
  text-decoration: none;
}

#logo_path {
  padding-right: 12px;
}

#logo_path a:hover {
  text-decoration: underline;
}

#realm_links a {
  font-size: 0.8rem;
}

#header_buttons {
  float: right;
  position: relative;
  padding-left: 22px;
  margin-left: auto;
}

#home h1,
#home h2,
#home h3,
#home h4,
#home h5,
#home h6 {
  margin: 0;
  padding: 0;
}

#home p {
  padding: 22px;
  margin: 0;
}

#home h1,
#home h2,
#home h3,
#home h4,
#home h5,
#home h6 {
  padding: 22px;
  margin: 0;
  border-bottom: 1px solid #d7d9db;
}

#home ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-weight: 500;
}

#home > ul > li {
  padding: 22px;
  background-color: #fff;
  list-style-type: none;
}

#home > ul > li {
  border-bottom: 1px solid #d7d9db;
  padding-left: 22px;
}

#home > ul > li:before {
  content: url("../img/list.png");
  display: inline-block;
  vertical-align: middle;
  width: 22px;
  height: 26px;
}

#home > ul > li ul {
  padding: 22px 0 0 22px;
  background-color: #fff;
  list-style-type: none;
}

#home > ul > li ul li:before {
  content: url("../img/list-alt.png");
  display: inline-block;
  vertical-align: middle;
  width: 22px;
  height: 26px;
}

#realm_render,
#realm_help {
  padding: 0 22px;
}

.func_specs {
  box-sizing: border-box;
  width: calc(100% + 44px);
  margin-left: -22px;
}

.func_spec {
  padding: 22px;
  background: #d7d9db9e;
  margin-top: 22px;
}
.func_spec:nth-child(odd) {
  background: #d7d9db45;
}

div.func_spec > table > tbody > tr > th {
  width: 50px;
  vertical-align: top;
  text-align: right;
  color: #000;
}

.func_spec > table th,
.func_spec > table td {
  padding-bottom: 16px;
}

.func_spec > table th + td {
  padding-left: 50px;
}

.func_spec > table th + td table td {
  padding-left: 12px;
}

.func_spec .shell_command {
  color: #5d5d5d;
}

.func_name td {
  font-weight: bold;
}
