{{- define "app" -}}
<!DOCTYPE html>
<html>
  <head>
    <title>Gno.land</title>
    {{ template "html_head" }}
  </head>
  <body onload="main()">
    <div id="root">
      <div id="header">
        {{ template "header_logo" }}
        {{ template "header_buttons" }}
      </div>
      <div id="home">
          This is the Gno.land (test) faucet.
          {{ if .Data.captchaSite }}
          <script src="https://www.google.com/recaptcha/api.js" async defer></script>
          {{ end }}
          <script type="text/javascript">
            function main() {
                // XXX
            };

            {{ if .Data.captchaSite }}
            function recaptchaCallback() {
                document.getElementById("submitBtn").disabled = false;
            };
            {{ end }}
          </script>

          <form method="POST" action="{{ .Data.faucetURL }}">
            <label for="toaddr">GNO.land address (e.g. g1jg8mtutu9khhfwc4nxmuhcpftf0pajdhfvsqf5):</label><br>
            <div><input type="text" id="toaddr" name="toaddr" required /></div>
            {{ if .Data.captchaSite }}
            <div class="g-recaptcha" data-callback="recaptchaCallback" data-sitekey="{{ .Data.captchaSite }}"></div>
            {{ end }}
            <div><input type="submit" value="GO" id="submitBtn" {{ if .Data.captchaSite }}disabled{{ end }}></div>
          </form>
      </div>
      {{ template "footer" }}
    </div>
    {{ template "js" }}
  </body>
</html>
{{- end -}}
