{{ define "header_buttons" }}
<div id="header_buttons">
  <a href="https://github.com/gnolang/gno"><img src="/static/img/github-mark-32px.png" alt="Github"/></a>
</div>
{{ end }}

{{define "html_head"}}
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="stylesheet" href="/static/css/app.css"/>
  <link rel="stylesheet" href="/static/css/normalize.css"/>
  <noscript>
   	<style type="text/css">
      #source { display:block; }
   	</style>
  </noscript>
{{ end }}

{{ define "header_logo" }}<a id="logo" href="/"><img src="/static/img/logo.png" alt="Gno.land" title="Gno.land" height="38" /> </a>{{ end }}

{{ define "footer" }}
<hr />
{{ end }}

{{ define "js" }}
  <script type="text/javascript" src="/static/js/marked.min.js"></script>
  <script type="text/javascript" src="/static/js/purify.min.js"></script>
  <script type="text/javascript">
    function main() {
        marked.setOptions({gfm:true});
        window.contents = document.getElementById("source").innerHTML;
        var doc = new DOMParser().parseFromString(window.contents, "text/html");
        var contents = doc.documentElement.textContent
        var parsed = marked.parse(contents);
        document.getElementById("home").innerHTML = DOMPurify.sanitize(parsed, { USE_PROFILES: { html: true } });
    };
  </script>
{{ end }}

{{ define "subscribe" }}
<!-- mailchimp -->
<div id="mc_embed_signup">
<form action="https://land.us18.list-manage.com/subscribe/post?u=8befe3303cf82796d2c1a1aff&amp;id=271812000b&amp;f_id=009170e7f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_self">
  <label for="mce-EMAIL">Subscribe by email:</label>
  <div id="mc_embed_signup_scroll">
  	<div class="mc-field-group">
  		<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Type your email here" required>
  		<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
  		<span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
  	</div>
  	<div id="mce-responses" class="clear">
  		<div class="response" id="mce-error-response" style="display:none"></div>
  		<div class="response" id="mce-success-response" style="display:none"></div>
  	</div>
  	<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8befe3303cf82796d2c1a1aff_271812000b" tabindex="-1" value=""></div>
  </div>
</form>
</div>
<!-- /mailchimp -->
{{ end }}
