{{ define "header_buttons" }}
<div id="header_buttons">
  <a href="https://github.com/gnolang/gno"
    ><img src="/static/img/github-mark-32px.png" alt="Github"
  /></a>
  <a href="#" title="Toggle dark mode" id="theme-toggle">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="32"
      height="32"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      id="theme-toggle-sun"
    >
      <circle cx="12" cy="12" r="5"></circle>
      <line x1="12" y1="1" x2="12" y2="3"></line>
      <line x1="12" y1="21" x2="12" y2="23"></line>
      <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
      <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
      <line x1="1" y1="12" x2="3" y2="12"></line>
      <line x1="21" y1="12" x2="23" y2="12"></line>
      <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
      <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
    </svg>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="32"
      height="32"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      id="theme-toggle-moon"
    >
      <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
    </svg>
  </a>
</div>
{{ end }} {{define "html_head" }}
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="stylesheet" href="/static/css/app.css" />
<link rel="stylesheet" href="/static/css/normalize.css" />
<noscript>
  <style type="text/css">
    #source {
      display: block;
    }
  </style>
</noscript>
<script>
  (function () {
    var storageKey = "website_theme";

    function getColorPreference() {
      if (localStorage.getItem(storageKey))
        return localStorage.getItem(storageKey);
      else
        return window.matchMedia("(prefers-color-scheme: dark)").matches
          ? "dark"
          : "light";
    }
    function setTheme(value) {
      document.firstElementChild.setAttribute("data-theme", value);
    }
    setTheme(getColorPreference());
    window
      .matchMedia("(prefers-color-scheme: dark)")
      .addEventListener("change", function (e) {
        if (!localStorage.getItem(storageKey))
          setTheme(e.matches ? "dark" : "light");
      });
    window.addEventListener("load", function () {
      document
        .getElementById("theme-toggle")
        .addEventListener("click", function (e) {
          console.log("cc");
          e.preventDefault();
          var newValue = getColorPreference() === "light" ? "dark" : "light";
          localStorage.setItem(storageKey, newValue);
          setTheme(newValue);
        });
    });
  })();
</script>
{{ end }} {{ define "header_logo" }}<a id="logo" href="/"
  ><img
    src="/static/img/logo.png"
    alt="Gno.land"
    title="Gno.land"
    height="38"
  /> </a
>{{ end }} {{ define "footer" }}
<hr />
{{ end }} {{ define "js" }}
<script type="text/javascript" src="/static/js/marked.min.js"></script>
<script type="text/javascript" src="/static/js/purify.min.js"></script>
<script type="text/javascript">
  function main() {
    marked.setOptions({ gfm: true });
    window.contents = document.getElementById("source").innerHTML;
    var doc = new DOMParser().parseFromString(window.contents, "text/html");
    var contents = doc.documentElement.textContent;
    var parsed = marked.parse(contents);
    document.getElementById("home").innerHTML = DOMPurify.sanitize(parsed, {
      USE_PROFILES: { html: true },
    });
  }
</script>
{{ end }} {{ define "subscribe" }}
<!-- mailchimp -->
<div id="mc_embed_signup">
  <form
    action="https://land.us18.list-manage.com/subscribe/post?u=8befe3303cf82796d2c1a1aff&amp;id=271812000b&amp;f_id=009170e7f0"
    method="post"
    id="mc-embedded-subscribe-form"
    name="mc-embedded-subscribe-form"
    class="validate"
    target="_self"
  >
    <label for="mce-EMAIL">Subscribe by email:</label>
    <div id="mc_embed_signup_scroll">
      <div class="mc-field-group">
        <input
          type="email"
          value=""
          name="EMAIL"
          class="required email"
          id="mce-EMAIL"
          placeholder="Type your email here"
          required
        />
        <input
          type="submit"
          value="Subscribe"
          name="subscribe"
          id="mc-embedded-subscribe"
          class="button"
        />
        <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
      </div>
      <div id="mce-responses" class="clear">
        <div
          class="response"
          id="mce-error-response"
          style="display: none"
        ></div>
        <div
          class="response"
          id="mce-success-response"
          style="display: none"
        ></div>
      </div>
      <div style="position: absolute; left: -5000px" aria-hidden="true">
        <input
          type="text"
          name="b_8befe3303cf82796d2c1a1aff_271812000b"
          tabindex="-1"
          value=""
        />
      </div>
    </div>
  </form>
</div>
<!-- /mailchimp -->
{{ end }}
