{{- define "app" -}}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/app.css"/>
        <script type="text/javascript" src="/static/js/marked.min.js"></script>
        <script type="text/javascript" src="/static/js/purify.min.js"></script>
    </head>
    <body onload="main()">
  <div id="header">
      <a id="logo" href="/">GNO.LAND</a>
        {{ template "header_buttons" }}
  </div>
    <div id="home">
        <pre id="source">

Welcome to Gno.land.

 * [Install `gnokey`](https://github.com/gnolang/gno/)
 * [Acquire testnet tokens](/faucet)
 * [Read the quickstart guide](/r/boards:gnolang/4)

Explore new packages.

 * [/p/avl](/p/avl)
 * [/r/boards](/r/boards)
 * [/r/nft](/r/nft)
 * [/r/users](/r/users)
 * [/r/banktest](/r/banktest)
 * [/p/grc/grc20](/p/grc/grc20)
 * [/p/grc/grc721](/p/grc/grc721)
 * [/r/foo20](/r/foo20)

This is a testnet. \
Package names are not guaranteed to be available for production.\
To be guaranteed a package and realm name, [register](/r/users).

Also, join our [Discord](https://discord.gg/tF2X8M6cVj).

        </pre>
    </div>
    </body>
    <script type="text/javascript">
function main() {
  marked.setOptions({gfm:true});
  window.contents = document.getElementById("source").innerHTML;
  var doc = new DOMParser().parseFromString(window.contents, "text/html");
  var contents = doc.documentElement.textContent
  var parsed = marked.parse(contents);
  document.getElementById("home").innerHTML = DOMPurify.sanitize(parsed, { USE_PROFILES: { html: true } });
};
    </script>
</html>
{{- end -}}
