{{- define "app" -}}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/app.css"/>
        <link rel="stylesheet" href="/static/css/highlight.min.css"/>
        <script src="/static/js/highlight.min.js"></script>
    </head>
    <body>
        <div id="header">
            <a id="logo" href="/">GNO.LAND</a>
            <span id="logo_path">
                <a href="{{ .Data.DirPath }}/">{{ .Data.DirPath }}/</a>{{ .Data.FileName }}
            </span>
            {{ template "header_buttons" }}
        </div>
        <div id="package_file">
            <pre><code>{{ .Data.FileContents }}</code></pre>
        </div>
    </body>
    <script>
        hljs.highlightAll()
    </script>
</html>
{{- end -}}
