{{- define "app" -}}
  <!DOCTYPE html>
  <html>
    <head>
      <title>Gno.land</title>
      {{ template "html_head" }}
      <link rel="stylesheet" href="/static/css/highlight.min.css"/>
    </head>
    <body onload="main()">
      <div id="root">
        <div id="data" data-realm-path="{{ .Data.RealmPath }}" data-remote="{{ .Data.Remote }}" data-chainid="{{ .Data.ChainID }}" />
        <div id="header">
          {{ template "header_logo" }}
          <span id="logo_path">
            <a href="{{ .Data.DirPath }}">{{ .Data.DirPath }}</a>?help
          </span>
          {{ template "header_buttons" }}
        </div>

        <div id="realm_help">
          <br/>
          These are the realm's exposed functions ("public smart contracts").<br/>
          <br/>
          My address: <input id="my_address" value="ADDRESS" width="40"/> (see <a href="https://github.com/gnolang/gno">`gnokey list`</a>)<br/>
          <br />
          <br />
          {{ template "func_specs" . }}
        </div>

        {{ template "footer" }}
      </div>
      {{ template "js" }}
      <script src="/static/js/umbrella.min.js"></script>
      <script src="/static/js/marked.min.js"></script>
      <script src="/static/js/realm_help.js"></script>
    </body>
  </html>
{{- end -}}

+{{ define "func_specs" }}
  <div class="func_specs">
    {{ $funcName := .Data.FuncName }}
    {{ $found := false }}
    {{ if eq $funcName "" }}
      {{ range .Data.FunctionSignatures }}
        {{ template "func_spec" . }}
      {{ end }}
    {{ else }}
      {{ range .Data.FunctionSignatures }}
        {{ if eq .FuncName $funcName }}
          {{ $found = true }}
          {{ template "func_spec" . }}
        {{ end }}
      {{ end }}
      {{ if not $found }}
        {{ $funcName }} not found.
      {{ end }}
    {{ end }}
  </div>
{{ end }}

{{ define "func_spec" }}
  <div class="func_spec" data-func-name="{{ .FuncName }}">
    <table>
      <tr class="func_name">
        <th>contract</th>
        <td>{{ .FuncName }}(...)</td>
      </tr>
      <tr class="func_params">
        <th>params</th>
        <td>
          <table>
            {{ range .Params }}{{ template "func_param" . }}{{ end }}
          </table>
        </td>
      </tr>
      <tr class="func_results">
        <th>results</th>
        <td>
          <table>
            {{ range .Results }}{{ template "func_result" . }}{{ end }}
          </table>
        </td>
      </tr>
      <tr class="command">
        <th>command</th>
        <td>
          <div class="shell_command"/>
        </td>
      </tr>
    </table>
  </div>
{{ end }}

{{ define "func_param" }}
  <tr>
    <th class="func_param_name">
      {{ .Name }}
    </th>
    <td class="func_param_value">
      <input type="text" value="{{ .Value }}"/>
    </td>
    <td class="func_param_type">
      {{ .Type }}
    </td>
  </tr>
{{ end }}

{{ define "func_result" }}
  <tr>
    <th class="func_result_name">
      {{ .Name }}
    </th>
    <td class="func_result_type">
      {{ .Type }}
    </td>
  </tr>
{{ end }}
