{{- define "app" -}}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/app.css"/>
        <script src="/static/js/marked.min.js"></script>
        <script src="/static/js/umbrella.min.js"></script>
    </head>
    <body onload="main()">
	<div id="header">
	    <a id="logo" href="/">GNO.LAND</a>
        <span id="logo_path">
            <a href="/r/{{ .Data.RealmName }}">/r/{{ .Data.RealmName }}</a>
            {{- if .Data.Query -}}:{{- end -}}
            {{- range $index, $link := .Data.PathLinks -}}
                {{- if (gt $index 0) }}/{{ end -}}
                <a href="{{ $link.URL }}">{{ $link.Text }}</a>
            {{- end -}}
        </span>
        {{ template "header_buttons" }}
            <span id="realm_links">
                <a href="/r/{{ .Data.RealmName }}/">[source]</a>
                <a href="/r/{{ .Data.RealmName }}?help">[help]</a>
            </span>
	</div>
    <div id="realm_render">
        <pre id="source">{{ .Data.Contents }}</pre>
    </div>
    </body>
    <script type="text/javascript">
function main() {
	marked.setOptions({
      gfm: true,
    });
	var source = u("#source").text();
	var parsed = marked.parse(source);
	document.getElementById("realm_render").innerHTML = parsed;
};
    </script>
</html>
{{- end -}}
