{ { - define "app" -} }
<!DOCTYPE html >
  <html>
  <head>
  <link rel="stylesheet" href = "/static/css/app.css" />
    <script src="/static/js/umbrella.min.js" > </script>
      < /head>
      < body onload = "main()" >
        <div id="header" >
          <a id="logo" href = "/" > GNO.LAND < /a>
            < span id = "logo_path" >
              <a href="{{ .Data.DirPath }}" > {{ .Data.DirPath }}</a>
                < /span>
{ { template "header_buttons" } }
</div>
  < div id = "realm_main" >
    <br />
      This is the realm's base page. From here, you can:
  < ul >
  <li><a href="{{ .Data.DirPath }}/" > view realm files < /a></li >
    <li><a href="{{ .Data.DirPath }}?help" > view public functions < /a></li >
      <li>
      render realm expression: { { .Data.DirPath } }: <input id="expression" />
        <button id="button" > GO < /button>
          < /li>
          < /ul>
          < /div>
          < /body>
          < script type = "text/javascript" >
            function main() {
              // TODO: add script logic here.
              u("#button").on("click", function(e) {
                var expression = u("#expression").first().value || "";
                window.location = "{{ .Data.DirPath }}" + ":" + expression;
              });
            }
            < /script>
            < /html>
{ { - end -} }
