# Merge Requirements

The following requirements must be fulfilled before a pull request can be merged.
Some requirement checks are automated and can be verified by the CI, while others need manual verification by a staff member.

These requirements are defined in this [config file](https://github.com/gnolang/gno/blob/master/misc/github-bot/config.go).

## Automated Checks

{{ range .Auto }}
<details>
  <summary>{{ if .Met }}🟢{{ else }}🟠{{ end }} {{ .Description }}</summary>

  **TODO**
</details>
{{ end }}

## Manual Checks

{{ range .Manual }}
- [{{ if .CheckedBy }}x{{ else }} {{ end }}] {{ .Description }} {{ if .CheckedBy }}(checked by @{{ .CheckedBy }}){{ end }}{{ end }}
