/**** ROBOTO ****/

@font-face {
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local("Roboto Mono Regular"), url("/static/font/roboto/RobotoMono-Regular.woff") format("woff");
  }
  
  @font-face {
    font-family: "Roboto Mono";
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: local("Roboto Mono Italic"), url("/static/font/roboto/RobotoMono-Italic.woff") format("woff");
  }
  
  @font-face {
    font-family: "Roboto Mono Bold";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local("Roboto Mono Bold"), url("/static/font/roboto/RobotoMono-Bold.woff") format("woff");
  }
  
  @font-face {
    font-family: "Roboto Mono";
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: local("Roboto Mono Bold Italic"), url("/static/font/roboto/RobotoMono-BoldItalic.woff") format("woff");
  }
  

/*** DARK/LIGHT THEME COLORS ***/

html:not([data-theme="dark"]),
html[data-theme="light"] {
  --background-color: #eee;
  --input-background-color: #eee;
  --text-color: #000;
  --link-color: #25172a;
  --muted-color: #757575;
  --border-color: #d7d9db;
  --icon-color: #000;

  --quote-background: #ddd;
  --quote-2-background: #aaa4;
  --code-background: #d7d9db;
  --header-background: #373737;
  --header-forground: #ffffff;
  --logo-hat: #ffffff;
  --logo-beard: #808080;

  --realm-help-background-color: #d7d9db9e;
  --realm-help-odd-background-color: #d7d9db45;
  --realm-help-code-color: #5d5d5d;

  --highlight-color: #2f3337;
  --highlight-bg: #f6f6f6;
  --highlight-color: #2f3337;
  --highlight-comment: #656e77;
  --highlight-keyword: #015692;
  --highlight-attribute: #015692;
  --highlight-symbol: #803378;
  --highlight-namespace: #b75501;
  --highlight-keyword: #015692;
  --highlight-variable: #54790d;
  --highlight-keyword: #015692;
  --highlight-literal: #b75501;
  --highlight-punctuation: #535a60;
  --highlight-variable: #54790d;
  --highlight-deletion: #c02d2e;
  --highlight-addition: #2f6f44;
}

html[data-theme="dark"] {
  --background-color: #1e1e1e;
  --input-background-color: #393939;
  --text-color: #c7c7c7;
  --link-color: #c7c7c7;
  --muted-color: #737373;
  --border-color: #606060;
  --icon-color: #dddddd;

  --quote-background: #404040;
  --quote-2-background: #555555;
  --code-background: #606060;
  --header-background: #373737;
  --header-forground: #ffffff;
  --logo-hat: #ffffff;
  --logo-beard: #808080;

  --realm-help-background-color: #45454545;
  --realm-help-odd-background-color: #4545459e;
  --realm-help-code-color: #b6b6b6;

  --highlight-color: #ffffff;
  --highlight-bg: #1c1b1b;
  --highlight-color: #ffffff;
  --highlight-comment: #999999;
  --highlight-keyword: #88aece;
  --highlight-attribute: #88aece;
  --highlight-symbol: #c59bc1;
  --highlight-namespace: #f08d49;
  --highlight-keyword: #88aece;
  --highlight-variable: #b5bd68;
  --highlight-keyword: #88aece;
  --highlight-literal: #f08d49;
  --highlight-punctuation: #cccccc;
  --highlight-variable: #b5bd68;
  --highlight-deletion: #de7176;
  --highlight-addition: #76c490;
}

.logo-wording path {fill: var(--header-forground, #ffffff); }
.logo-beard { fill: var(--logo-beard, #808080); }
.logo-hat {fill: var(--logo-hat, #ffffff); }

#theme-toggle {
  cursor: pointer;
  display: inline-block;
  padding: 0;
  color: var(--header-forground, #ffffff);
}

html[data-theme="dark"] #theme-toggle-moon,
html[data-theme="light"] #theme-toggle-sun {
  display: none;
}

/*** BASE HTML ELEMENTS ***/

* {
  box-sizing: border-box;
}

html {
  font-feature-settings: "kern" on, "liga" on, "calt" on, "zero" on;
  -webkit-font-feature-settings: "kern" on, "liga" on, "calt" on, "zero" on;
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  font-variant-ligatures: contextual common-ligatures;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol", "Noto Color Emoji";  background-color: var(--background-color, #eee);
  color: var(--text-color, #000);
  font-size: 15px;
  transition: 0.25s all ease;
}

h1,
h2,
h3,
h4,
nav {

  font-weight: 600;
  letter-spacing: 0.08rem;
}

:is(h1, h2, h3, h4) a {
  text-decoration: none;
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin-block: 4.2rem 2rem;
}

h2 {
  font-size: 1.625rem;
  margin-block: 3.4rem 1.2rem;
  line-height: 1.4;
}

h3 {
  font-size: 1.467rem;
  margin-block: 2.6rem 1rem;
}

p {
  font-size: 1rem;
  margin-block: 1.2rem;
  line-height: 1.4;
}

p:last-child:has(a:only-child) {
  margin-block-start: 0.8rem;
}
.stack > p:last-child:has(a:only-child) {
  margin-block-start: 0;
}

hr {
  border: none;
  height: 1px;
  background: var(--border-color, #d7d9db);
  width: 100%;
  margin-block: 1.5rem 2rem;
}

nav {
  font-weight: 400;
}

button {
  color: var(--text-color, #000);
}

body {
  height: 100%;
  width: 100%;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a {
  color: var(--link-color, #25172a);
}

a[href="#"] {
  color: var(--muted-color, #757575);
}

.gno-tmpl-section ul {
  padding: 0;
}

.gno-tmpl-section li ,
#header li ,
.footer li {
  list-style: none;
}

.gno-tmpl-section blockquote {
  margin-inline: 0;
}

li { 
    margin-bottom: 0.4rem;
}

li > * {
  vertical-align: middle;
}

input {
  background-color: var(--input-background-color, #eee);
  border: 1px solid var(--border-color);
  color: var(--text-color, #000);
  width: 25em;
  padding: 0.4rem 0.5rem;
  max-width: 100%;x
}

blockquote {
  background-color: var(--quote-background, #ddd);
}

blockquote blockquote {
  margin: 0;
  background-color: var(--quote-2-background, #aaa4);
}

pre, code {
    font-family: "Roboto Mono", "Courier New", "sans-serif";
}
pre {
  background-color: var(--code-background, #d7d9db);
  margin: 0;
  padding: 0.5rem;
}

label {
  margin-block-end: 0.8rem;
  display: block;
}

label > img {
  margin-inline-end: 0.8rem;
}

code {
  white-space: pre-wrap;
  overflow-wrap: anywhere;
}
/*** COMPOSITION ***/
.container {
  width: 100%;
  max-width: 63.75rem;
  margin: auto;
  padding: 1.25rem;
}

.container p > img:only-child {
  max-width: 100%;
}
.gno-tmpl-page p img:only-child  {
    margin-inline: auto;
    display: block;
    max-width: 100%;
}

.inline-list {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}



.stack,
.stack > p {
    display: flex;
    flex-direction: column;
}

.stack > p {
  margin: 0;
}

.stack > a,
.stack > p > a{
    margin-block-end: 0.4rem;
}

.column > h1,
.column > h2,
.column > h3,
.column > h4,
.column > h5,
.column > h6 {
    margin-block-start: 0;
}

.columns-2,
.columns-3 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 3.75rem;
  margin: 3.75rem auto;
}

.footer {
  text-align: center;
  margin-block-start: 2rem;
  background-color: var(--header-background, #d7d9db);
  border-top: 1px solid var(--border-color);
}

.footer > .logo {
  display: block;
  margin: 1rem;
  height: 1.2rem;
}

/** 51.2rem **/
@media screen and (min-width: 68.75rem) {
  .stack,
  .stack > p {
    flex-direction:  row;
  }
  .stack *:not(:first-child) {
    margin-left: 3.75rem;
  }
  .stack > a,
  .stack > p > a{
    margin-block-end: 0;
  }
  .columns-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .columns-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*** UTILITIES ***/

.is-hidden {
  display: none;
}

.is-muted {
  color: var(--muted-color, #757575);
}

.is-finished {
  text-decoration: line-through;
}

.is-underline {
  text-decoration: underline;
}

/*** BLOCKS ***/
.tabs button {
  border: none;
  cursor: pointer;
  text-decoration: underline;
  padding: 0;
  background: none;
  color: var(--text-color, #000);
}

.tabs button[aria-selected="true"] {
  font-weight: 700;
}

.tabs + .jumbotron {
  margin-top: 2.5rem;
}
.tabs > .columns-2,
.tabs > .columns-3 {
  margin-bottom: 2.5rem;
}

.accordion-trigger {
  display: block;
  border: none;
  cursor: pointer;
  padding: 0.4rem 0;
  font-size: 1.125rem;
  font-weight: 700;
  text-align: left;
  background: none;
}

.accordion-trigger ~ div {
  padding: 0.875rem 0 2.2rem;
}

.accordion > p {
  margin-block: 0;
}
/** 51.2rem **/
@media screen and (min-width: 68.75rem) {
  .accordion .accordion-trigger ~ div {
    padding: 0.875rem 0 2.2rem 2rem;
  }
}

.gor-accordion button::first-letter {
  font-size: 1.5em;
  color: var(--text-color, #000);
}

.jumbotron {
  border: 1px solid var(--border-color, #d7d9db);
  padding: 1.4rem;
  margin: 3.75rem auto;
}

.jumbotron h1 {
  text-align: left;
}

.jumbotron > *:first-child,
.jumbotron > * > *:first-child {
  margin-block-start: 0;
}

.jumbotron > *:last-child,
.jumbotron > * > *:last-child {
  margin-block-end: 0;
}

/** 68.75rem**/
@media screen and (min-width: 68.75rem) {
  .jumbotron {
    margin: 3.75rem -3.5rem;
    padding: 3.5rem;
  }
}

#root {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--header-background, #d7d9db);
  margin: 20px;
  overflow: hidden;
  /* height: calc(100vh - 40px); */
}

#header {
  position: relative;
  background-color: var(--header-background, #d7d9db);
  padding: 1.333rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header > nav {
  flex-grow: 2;
}

#header .logo {
  display: flex;
  align-items: center;
  color: var(--link-color, #25172a);
  position: absolute;
  height: 2.4rem;
  z-index: 2;
}

.logo > svg {
    height: 100%;
}

#logo_path a {
  text-decoration: none;
}

#logo_path {
  padding-right: 0.8rem;
}

#logo_path a:hover {
  text-decoration: underline;
}

#realm_links a {
  font-size: 0.8rem;
}

#header_buttons {
  position: relative;
  width: 100%;
  height: 3rem;
}

#header_buttons nav {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* enabled conditionally with <noscript> */
#source {
  opacity: 0;
}

/*** REALM HELP ***/
#realm_render,
#realm_help {
  padding: 0 1.467rem;
}

#realm_help .func_specs {
  box-sizing: border-box;
  width: calc(100% + 1.467rem);
  margin-left: -1.467rem;
}

#realm_help .func_spec {
  padding: 1.467rem;
  background: var(--realm-help-background-color, #d7d9db9e);
  margin-top: 1.467rem;
}
#realm_help .func_spec:nth-child(odd) {
  background: var(--realm-help-odd-background-color, #d7d9db45);
}

#realm_help .func_spec > table > tbody > tr > th {
  width: 3.333rem;
  vertical-align: top;
  text-align: right;
  color: var(--text-color, #000);
}

#realm_help .func_spec > table th,
#realm_help .func_spec > table td {
  padding-bottom: 16px;
}

#realm_help .func_spec > table th + td {
  padding-left: 1rem;
}

#realm_help .func_spec > table th + td table td {
  padding-left: 0.8rem;
}

#realm_help .func_spec .shell_command {
  color: var(--realm-help-code-color, #5d5d5d);
}

#realm_help .func_name td {
  font-weight: bold;
}

/** menu **/
#menu-toggle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  height: 100%;
}

#menu-toggle input {
  display: block;
  width: 2.667rem;
  height: 2.133rem;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menu-toggle span {
  display: block;
  width: 2.2rem;
  height: 0.133rem;
  margin-bottom: 0.333rem;
  position: relative;
  background: var(--header-forground, #ffffff);
  z-index: 1;
  transform-origin: 50% 50%;
  /* transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; */
}

#menu-toggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(0.467rem, 0.467rem);
}

#menu-toggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menu-toggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0.2rem, -0.267rem);
}

#menu-toggle > .navigation {
  position: absolute;
  width: calc(100vw - 2.6rem);
  right: -1.467rem;
  top: -1.467rem;
  padding: 7.333rem 1.467rem 4.333rem;
  background: var(--header-background, #d7d9db);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(0, -100%);
  /* transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); */
}

#menu-toggle .buttons {
  position: absolute;
  left: 1.467rem;
  display: flex;
  align-items: center;
  margin-block-start: .7em;
  color: var(--icon-color, #000);
}

#menu-toggle .buttons > *:not(:last-child) {
  margin-right: 0.6rem;
}

#menu-toggle .buttons button {
  background-color: transparent;
  border: none;
}

#menu-toggle .buttons a {
  text-decoration: none;
}

#menu-toggle > .navigation > ul {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  margin-top: .8rem;
}

#menu-toggle > .navigation a {
    color: var(--header-forground, #ffffff);
}

#menu-toggle input:checked ~ .navigation {
  transform: none;
}

/** 51.2rem **/
@media screen and (min-width: 51.2rem) {
  #menu-toggle {
    display: block;
    width: 50%;
    float: right;
  }
  #menu-toggle span,
  #menu-toggle input {
    display: none;
  }
  #menu-toggle > .navigation {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    padding: 0;
    right: initial;
    top: initial;
    background: transparent;
    transform: translate(0, 0);
  }
  #menu-toggle .buttons {
    right: 0;
    left: initial;
  }
  #menu-toggle > .navigation > ul {
    transform: translateX(-50%);
    flex-direction: row;
    margin-bottom: 0;
  }
  #menu-toggle > .navigation li:not(:first-child) {
    margin-left: min(1vw, 1.5rem);
  }
}

/*** EXCEPTIONS ***/
.stack--center {
  justify-content: center;
}

.stack--thin *:not(:first-child) {
  margin-left: 1.5rem;
}

/*** HLJS ***/

/* Copyright (c) 2006, Ivan Sagalaev.
 * https://github.com/highlightjs/highlight.js/blob/86dcb210227ef130a00b5ece50605ea1ec887be8/src/styles/default.css */
pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}

code.hljs {
  padding: 3px 5px;
}

/* Copyright 2017-2020 Stack Exchange Inc.
 * https://github.com/highlightjs/highlight.js/blob/86dcb210227ef130a00b5ece50605ea1ec887be8/src/styles/stackoverflow-light.css
 * https://github.com/highlightjs/highlight.js/blob/86dcb210227ef130a00b5ece50605ea1ec887be8/src/styles/stackoverflow-dark.css */
.hljs {
  color: var(--highlight-color, #2f3337);
  background: var(--highlight-bg, #f6f6f6);
}

.hljs-subst {
  color: var(--highlight-color, #2f3337);
}

.hljs-comment {
  color: var(--highlight-comment, #656e77);
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-meta .hljs-keyword,
.hljs-doctag,
.hljs-section {
  color: var(--highlight-keyword, #015692);
}

.hljs-attr {
  color: var(--highlight-attribute, #015692);
}

.hljs-attribute {
  color: var(--highlight-symbol, #803378);
}

.hljs-name,
.hljs-type,
.hljs-number,
.hljs-selector-id,
.hljs-quote,
.hljs-template-tag {
  color: var(--highlight-namespace, #b75501);
}

.hljs-selector-class {
  color: var(--highlight-keyword, #015692);
}

.hljs-string,
.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr {
  color: var(--highlight-variable, #54790d);
}

.hljs-meta,
.hljs-selector-pseudo {
  color: var(--highlight-keyword, #015692);
}

.hljs-built_in,
.hljs-title,
.hljs-literal {
  color: var(--highlight-literal, #b75501);
}

.hljs-bullet,
.hljs-code {
  color: var(--highlight-punctuation, #535a60);
}

.hljs-meta .hljs-string {
  color: var(--highlight-variable, #54790d);
}

.hljs-deletion {
  color: var(--highlight-deletion, #c02d2e);
}

.hljs-addition {
  color: var(--highlight-addition, #2f6f44);
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
