/*
Run with:
  gno run ./{{.ScriptPath}}

Or with gnokey:
  gnokey maketx run \
    -gas-fee 1000000ugnot \
    -gas-wanted 10000 \
    -broadcast \
    -chainid "dev" \
    -remote "tcp://127.0.0.1:26657" \
    <keyname> \
    ./{{.ScriptPath}}
*/

package main

func main() {
	println("Hello, Gno!")
}
