{{ define "renderHelp" }}
{{ $data := . }}
<!-- Help Settings-->
<header data-controller="action-header"
  class="mt-10 row-span-1 lg:row-start-1 lg:col-span-7 flex flex-col xl:flex-row gap-3 lg:justify-between xl:items-center mb-8 lg:mb-6">
  <div class="flex items-center gap-8">
    <h1 class="text-600 font-bold text-gray-900 flex gap-3 items-center">
      <span>{{ .RealmName }}</span>
      <span class="flex items-center gap-2 text-50 font-mono text-gray-600 px-2 py-px rounded-full border">
        package
      </span>
    </h1>
  </div>
  <form class="flex flex-col lg:flex-row gap-x-3 gap-y-2 text-gray-300">
    <div class="relative min-w-48 border rounded-sm overflow-hidden text-gray-600">
      <select id="cmdmode" data-action-header-target="mode" data-action="change->action-header#updateMode"
        class="appearance-none cursor-pointer bg-gray-100 hover:bg-gray-50 text-100 outline-none block w-full px-3 py-2 lg:py-1.5 lg:px-2">
        <option value="secure" selected="selected">
          Mode: Full Security
        </option>
        <option value="fast">Mode: Fast</option>
      </select>
      <svg class="absolute right-3 top-1/2 -translate-y-1/2 w-4 h-4">
        <use href="#ico-arrow-down"></use>
      </svg>
    </div>
    <div
      class="group relative flex w-full text-100 border rounded-sm overflow-hidden has-[:focus]:border-gray-300 hover:border-gray-300">
      <label for="help-input-addr"
        class="flex gap-3 items-center bg-gray-100 px-3 text-gray-600">Key&nbsp;/&nbsp;Address</label>
      <input type="text" data-action-header-target="address" id="help-input-addr"
        data-action="input->action-header#updateAddress"
        class="flex h-full bottom-1 w-full border-l px-4 py-2 lg:py-1.5 lg:px-2 text-gray-600 focus:border-l-gray-300 group-hover:border-l-gray-300 outline-none font-mono"
        placeholder="ADDRESS" />
    </div>
  </form>
</header>

<!-- Help ToC -->
{{ with render .ComponentTOC }}
{{ template "layout/aside" . }}
{{ end }}


<!-- Help Content List -->
{{ template "layout/article" .Article }}
{{ end }}