{{ define "renderSource" }}
<!-- Source ToC -->
{{ with render .ComponentTOC }} {{ template "layout/aside" . }} {{ end }}

<!-- Source Info -->
<header class="mt-10 lg:row-start-1 row-span-1 col-span-1 lg:col-span-7 flex flex-col xl:flex-row justify-between mb-4">
  <div class="flex items-center">
    <h1 class="text-600 text-gray-900 font-bold">{{ .FileName }}</h1>
  </div>
  <div class="flex gap-12 text-gray-300 items-center justify-between text-gray-400">
    <span class="pt-0.5">{{ .FileSize }} · {{ .FileLines }} lines</span>
    <div class="flex gap-1 xl:gap-4 items-center">
      <button data-controller="copy" data-copy-remote-value="source-code" data-action="click->copy#copy"
        class="c-with-icon group flex items-center pt-0.5 hover:text-gray-600">
        {{ template "ui/copy" }}
        <span class="hidden xl:inline">Copy</span>
      </button>
      <a href="{{ .FileDownload }}" class="c-with-icon flex items-center pt-0.5 hover:text-gray-600"
        download="{{ .FileName }}">
        <svg class="c-icon">
          <use href="#ico-ddl"></use>
        </svg>
        <span class="hidden xl:inline">Download</span>
      </a>
    </div>
  </div>
</header>

<!-- Source Content -->
{{ template "layout/article" .Article }} {{ end }}