{{ define "renderSource" }}
<!-- Source ToC -->
{{ with render .ComponentTOC }} {{ template "layout/aside" . }} {{ end }}

<!-- Source Info -->
<header
  class="mt-10 lg:row-start-1 row-span-1 col-span-1 lg:col-span-7 flex flex-col xl:flex-row justify-between mb-4"
>
  <div class="flex items-center">
    <h1 class="text-600 text-gray-900 font-bold">{{ .FileName }}</h1>
  </div>
  <div
    class="flex gap-12 text-gray-300 items-center justify-between text-gray-400"
  >
    <span class="pt-0.5">{{ .FileSize }} · {{ .FileLines }} lines</span>
    <div class="flex gap-2 xl:gap-3 items-center">
      <button
        class="js-copy-btn group flex items-center gap-0.5 pt-0.5 hover:text-gray-600"
        data-copy-btn="source-code"
      >
        {{ template "ui/copy" }}
        <span class="hidden xl:inline">Copy</span>
      </button>
      <a
        href="{{ .FileDownload }}"
        class="flex items-center gap-0.5 pt-0.5 hover:text-gray-600"
        download="{{ .FileName }}"
      >
        <svg class="w-5 h-5 xxl:w-4 xxl:h-4 shrink-0 inline-block">
          <use href="#ico-ddl"></use>
        </svg>
        <span class="hidden xl:inline">Download</span>
      </a>
    </div>
  </div>
</header>

<!-- Source Content -->
{{ template "layout/article" .Article }} {{ end }}
