{{ define "ui/breadcrumb" }}
  <form
    method="GET"
    action=""
    class=" p-0 peer-focus-within:hidden flex bg-gray-100 after:absolute after:w-full after:top-0 after:left-0 after:h-full after:block after:bg-gray-100 after:pointer-events-none"
  >
    <ol
      data-role="header-breadcrumb-search"
      class="flex leading-snug text-gray-800 font-semibold"
    >
      <!-- Path Part -->
      {{- range $index, $part := .Parts }}
        <li
          class="{{ if $index }}
            flex z-1 before:content-['/'] before:px-[0.18rem] before:pt-0.5
            before:leading-normal before:text-gray-400 whitespace-nowrap
          {{ else }}
            z-1 whitespace-nowrap
          {{ end }}"
        >
          <a
            class="{{ if eq $index 0 }}
              pointer-events-none
            {{ else }}
              hover:bg-green-600
            {{ end }} border border-transparent hover:text-light bg-light inline-block rounded-sm p-0.5 min-w-4 text-center"
            href="{{ $part.URL }}"
          >
            {{ $part.Name }}
          </a>
        </li>
      {{- end }}


      <!-- Args Part -->
      {{- if .ArgParts }}
        {{- range $index, $arg := .ArgParts }}
          <li
            class="flex z-1 {{ if eq $index 0 }}
              before:content-[':']
            {{ else }}
              before:content-['/']
            {{ end }} before:px-[0.18rem] before:pt-0.5 before:leading-normal before:text-gray-400 whitespace-nowrap"
          >
            <a
              class="text-light border border-transparent bg-gray-400 hover:bg-green-600 hover:text-light inline-block rounded-sm p-0.5 min-w-4 text-center"
              href="{{ $arg.URL }}"
            >
              {{ $arg.Name }}
            </a>
          </li>
        {{- end }}
      {{- end }}


      <!-- Queries Part -->
      {{ $allQueries := .Queries }}
      {{- range $index, $query := $allQueries }}
        <li
          class="flex z-1 {{ if eq $index 0 }}
            before:content-['?']
          {{ else }}
            before:content-['&']
          {{ end }} before:px-[0.18rem] before:pt-0.5 before:leading-normal before:text-gray-400 whitespace-nowrap"
        >
          <label
            for="{{ $query.Key }}"
            class="relative w-full h-full text-gray-600 border focus-within:border-gray-400 hover:border-gray-400 bg-gray-50 inline-flex rounded-sm py-0.5 px-1 min-w-4 text-center cursor-text"
          >
            <span>{{ $query.Key }}=</span>
            <input
              class="peer field-content focus:opacity-100 w-0 focus:w-min focus-no-field-sizing:w-20 opacity-0 outline-none bg-gray-50 order-3"
              type="text"
              id="{{ $query.Key }}"
              name="{{ $query.Key }}"
              value=""
              onfocus="this.select()"
            />
            <span
              class="peer-focus:hidden peer-placeholder-shown:hidden order-2"
            >
              {{ $query.Value }}
            </span>
          </label>
        </li>
      {{- end }}
    </ol>
    <button type="submit" class="sr-only">Update Breadcrumb</button>
  </form>
{{ end }}
