{{ define "ui/cards_list" }}
<section
  id="user-contributions-packages"
  class="js-list is-loading lg:col-span-7 pb-24 scroll-mt-24 min-h-96 filter-list"
>
  <h1 class="block text-gray-900 text-700 md:text-800 font-bold mb-6">
    {{ .CardsListTitle }}
  </h1>
  <nav class="grid grid-cols-4 gap-3 mb-6 md:pb-2 md:border-b">
    <div
      class="col-span-4 md:col-span-2 flex gap-4 xl:gap-6 font-semibold text-gray-400 text-200 md:text-100 w-auto xl:w-full xl:ml-0 pb-2 border-b md:border-b-0 md:pb-0"
    >
      <label
        class="relative flex gap-1 items-center cursor-pointer hover:text-gray-600 group"
      >
        <input
          type="radio"
          id="contributions-filter-all"
          name="contributions-filter"
          value="all"
          checked
          class="peer hidden"
        />
        All&nbsp;{{ .CardsList.Title }}
        <span
          class="js-list-all-count hidden sm:inline text-gray-600 text-50 font-normal sm:font-semibold rounded-full bg-gray-50 sm:px-2 sm:py-0.5 px-1.5 py-px"
        >
          {{ .CardsList.TotalCount }}
        </span>
      </label>
      {{ if .CardsList.Categories }} {{ range .CardsList.Categories }}
      <label
        class="relative flex gap-1 items-center cursor-pointer hover:text-gray-600 group"
      >
        <input
          type="radio"
          id="contributions-filter-{{ .ID }}"
          name="contributions-filter"
          value="{{ .ID }}"
          class="peer hidden"
        />
        <svg
          class="w-5 h-5 text-gray-300 group-hover:text-gray-600 peer-checked:text-gray-600"
        >
          <use href="#{{ .Icon }}"></use>
        </svg>
        {{ .Name }}
        <span
          class="js-list-{{ .ID }}-count hidden sm:inline text-gray-600 text-50 font-normal sm:font-semibold rounded-full bg-gray-50 sm:px-2 sm:py-0.5 px-1.5 py-px"
        >
          {{ .Count }}
        </span>
      </label>
      {{ end }} {{ end }}
    </div>
    <div
      class="col-span-2 sm:col-span-1 flex gap-3 md:justify-end items-center text-gray-400 text-100"
    >
      <div class="js-list-order-filter grid">
        <input
          type="radio"
          name="order-mode"
          value="desc"
          id="order-desc"
          class="peer/order-desc hidden"
          checked
        />
        <label
          for="order-asc"
          class="col-start-1 row-start-1 cursor-pointer flex invisible gap-0.5 items-center justify-between peer-checked/order-desc:visible hover:text-gray-600 group"
        >
          <svg class="w-5 h-5 text-gray-300 group-hover:text-gray-600">
            <title>Descending Order</title>
            <use href="#ico-order-desc"></use>
          </svg>
          <span class="md:hidden xxl:inline">Order</span>
        </label>
        <input
          type="radio"
          name="order-mode"
          value="asc"
          id="order-asc"
          class="peer/order-asc hidden"
        />
        <label
          for="order-desc"
          class="col-start-1 row-start-1 cursor-pointer flex invisible gap-0.5 items-center justify-between peer-checked/order-asc:visible hover:text-gray-600 group"
        >
          <svg class="w-5 h-5 text-gray-300 group-hover:text-gray-600">
            <title>Ascending Order</title>
            <use href="#ico-order-asc"></use>
          </svg>
          <span class="md:hidden xxl:inline">Order</span>
        </label>
      </div>
      <div class="grid">
        <input
          type="radio"
          name="display-mode"
          value="display-grid"
          id="display-grid"
          class="peer/grid hidden"
          checked
        />
        <label
          for="display-list"
          class="col-start-1 row-start-1 cursor-pointer flex invisible gap-0.5 items-center justify-between peer-checked/grid:visible hover:text-gray-600 group"
        >
          <svg class="w-5 h-5 text-gray-300 group-hover:text-gray-600">
            <title>Grid Display</title>
            <use href="#ico-grid"></use>
          </svg>
          <span class="md:hidden xxl:inline">Grid</span>
        </label>
        <input
          type="radio"
          name="display-mode"
          value="display-list"
          id="display-list"
          class="peer/list hidden"
        />
        <label
          for="display-grid"
          class="col-start-1 row-start-1 cursor-pointer flex invisible gap-0.5 items-center justify-between peer-checked/list:visible hover:text-gray-600 group"
        >
          <svg class="w-5 h-5 text-gray-300 group-hover:text-gray-600">
            <title>List Display</title>
            <use href="#ico-list"></use>
          </svg>
          <span class="md:hidden xxl:inline">List</span>
        </label>
      </div>
    </div>
    <div class="col-span-2 sm:col-span-3 md:col-span-1 relative flex text-100">
      {{ $searchPlaceholder := "Search" }} {{ if .CardsList.SearchPlaceholder }}
      {{ $searchPlaceholder = .CardsList.SearchPlaceholder }} {{ end }}
      <label for="input-search" class="sr-only">
        {{ $searchPlaceholder }}
      </label>
      <input
        type="text"
        id="input-search"
        name="input-search"
        class="js-list-searchbar peer rounded-sm border p-1 outline-none w-full border-l lg:px-2 xl:py-1.5 text-gray-600 focus:border-gray-300 hover:border-gray-300"
        placeholder=""
        aria-label="{{ $searchPlaceholder }}"
      />
      <span
        class="absolute left-2 top-1/2 -translate-y-1/2 xl:inline hidden peer-placeholder-shown:opacity-100 opacity-0 text-gray-300 pointer-events-none"
      >
        {{ $searchPlaceholder }}
      </span>
      <span
        class="absolute left-2 top-1/2 -translate-y-1/2 xl:hidden inline peer-placeholder-shown:opacity-100 opacity-0 text-gray-300 pointer-events-none"
      >
        Search
      </span>
      <div
        class="absolute right-2 top-1/2 -translate-y-1/2 text-gray-400 pointer-events-none"
      >
        <svg class="w-4 h-4">
          <use href="#ico-search"></use>
        </svg>
      </div>
    </div>
  </nav>
  <div class="js-list-range range text-100 text-gray-600">
    {{ range .CardsList.Items }} {{/* TODO: Add a template for each type of card
    */}} {{ template "ui/card_package" . }} {{ end }}
  </div>
</section>
{{ end }}
