{{ define "ui/header_link" }}
<a href="{{ .URL }}" class="group" role="menuitem">
  <div
    class="group gap-1 xxl:pr-1 {{ if .Icon }}
        text-100 text-gray-400 hover:text-gray-600 mr-4 sm:mr-6 group-last:mr-0
      {{ else }}
        text-100 xl:text-200 text-gray-600 hover:text-green-600 font-semibold md:font-bold mr-3
      {{ end }}relative flex items-center h-full after:block after:absolute after:h-1 after:bg-green-600 after:left-0 after:rounded-t-sm after:bottom-0 {{ if .IsActive }}
        after:w-full text-stroke text-gray-600 is-active
      {{ end }}"
  >
    {{ if .Icon }}
    <svg
      class="group-[.is-active]:text-green-600 w-5 h-5 min-w-2 xxl:w-4.5 xxl:h-4.5 shrink-0 inline-block xl:hidden xxl:inline-block"
    >
      <use href="#{{ .Icon }}"></use>
    </svg>
    {{ end }}
    <span class="{{ if .Icon }}md:hidden xl:inline{{ end }}">{{ .Label }}</span>
  </div>
</a>
{{ end }}
