
{{ define "ui/header_link" }}
<a href="{{ .URL }}">
  <div
    class="group gap-1 xxl:pr-1 hover:text-gray-600 relative flex items-center h-full after:block after:absolute after:h-1 after:bg-green-600 after:left-0 after:rounded-t-sm after:bottom-0 {{ if .IsActive }}after:w-full text-stroke text-gray-600 is-active{{ end }}"
  >
    <input type="radio" name="sidemenu" class="peer hidden" />
    <svg class="group-[.is-active]:text-green-600 w-5 h-5 min-w-2 xxl:w-4.5 xxl:h-4.5 shrink-0 inline-block xl:hidden xxl:inline-block">
      <use href="#{{ .Icon }}"></use>
    </svg>
    <span class="hidden xl:inline">{{ .Label }}</span>
  </div>
</a>
{{ end }}