{{ define "ui/help_function" }}
  {{ $data := . }}

  {{ with .Doc }}
    <div class="mb-12">
      <h2 class="text-400 text-gray-800 font-bold mb-1" id="overview">
        Overview
      </h2>
      <p class="text-200">{{ . }}</p>
    </div>
  {{ end }}

  <h2 class="text-400 text-gray-800 font-bold mb-4">
    Function{{- if gt (len .Functions) 1 }}s{{- end }}
  </h2>
  {{ range .Functions }}
    <article class="bg-gray-100 rounded p-4 mb-3" data-func="{{ .Name }}">
      <div class="flex justify-between items-top mb-4">
        <span class="flex gap-x-4 gap-y-1 items-baseline flex-wrap">
          <h2
            id="func-{{ .Name }}"
            class="text-gray-800 font-semibold text-300 leading-tight"
          >
            {{ .Name }}
          </h2>
          <span>
            <code
              class="lg:text-50 text-100 text-gray-600"
              data-copy-content="func-{{ .Name }}"
            >
              {{ .Signature }}
            </code>
            <button
              class="js-copy-btn mr-2 text-gray-400 hover:text-gray-600"
              aria-label="Copy Function"
              data-copy-target="func-{{ .Name }}"
            >
              {{ template "ui/copy" }}
            </button>
          </span>
        </span>
        <span class="flex gap-x-2">
        <button
        class="js-copy-btn text-gray-400 hover:text-gray-600"
        aria-label="Copy Function"
        data-copy-txt="{{ $data.PkgFullPath }}$help&func={{ .Name }}"
        title="Function anchor link"
      >
          <svg class="w-5 h-5 shrink-0 inline-block" data-copy-icon>
            <use href="#ico-link"></use>
            <use href="#ico-check" class="hidden text-green-600"></use>

          </svg>
       </button>
        <a href="{{ buildHelpURL $data . }}" data-role="help-function-link" class="text-600 text-gray-400 hover:text-gray-600 font-sans">⚡︎</a>
      </span>
      </div>

      {{ with .Doc }}
        <p class="text-gray-600 text-200">{{ . }}</p>
      {{ end }}
      <div class="mb-1 mt-6">
        <div class="flex flex-col gap-1 items-stretch text-gray-400">
          <form class="w-full text-100">
            {{- with .Params }}
              <h3 class="mr-10 mb-1 text-50">
                Param{{- if gt (len .) 1 }}s{{ end }}
              </h3>
            {{ end }}
            {{ $funcName := .Name }}
            {{ range .Params }}
              <div class="flex flex-col gap-3 items-stretch text-gray-400 mb-2">
                <div
                  class="group relative overflow-hidden flex w-full border rounded-sm has-[:focus]:border-gray-300 hover:border-gray-300"
                >
                  <label
                    for="func-{{ $funcName }}-param-{{ .Name }}"
                    class="flex gap-3 items-center bg-gray-50 px-4 font-semibold text-gray-600 text-100"
                  >
                    {{ .Name }}
                  </label>
                  <input
                    type="text"
                    {{- if
                      eq
                      $data.SelectedFunc
                      $funcName
                    }}
                      value="{{ getSelectedArgValue $data . }}"
                    {{- end }}
                    placeholder="parameter"
                    id="func-{{ $funcName }}-param-{{ .Name }}"
                    data-role="help-param-input"
                    data-param="{{ .Name }}"
                    class="flex h-full bottom-1 w-full border-l p-2 focus:border-gray-300 group-hover:border-gray-300 text-gray-600 outline-none font-mono"
                  />
                </div>
              </div>
            {{ end }}
            {{ with $data.SelectedSend }}
              <div class="my-3 py-3 px-4 rounded-sm bg-yellow-50 text-gray-600 border-l-4 border-l-yellow-600">
                <h3 class="flex gap-2 items-center mr-10 mb-1 text-100 font-bold text-yellow-900">              
                  <svg class="w-6 h-6 shrink-0 inline-block text-yellow-600">
                    <use href="#ico-warning"></use>
                  </svg>Warning
                </h3>
                <div class="flex md:flex-row flex-col gap-4 md:justify-between md:items-center">   
                  <p class="text-yellow-900 text-100">This transaction link is requesting <strong>{{ . }}</strong> from your balance. For your safety, you must manually confirm the addition of coins to the transaction.</p>
                  <div class="bg-yellow-600 text-yellow-900 text-center text-50 min-w-32 hover:bg-yellow-400 rounded-sm font-semibold">
                    <input type="checkbox" id="func-{{ $funcName }}-send-flag" data-send="{{ . }}" data-role="help-send-input" class="peer hidden" />
                    <label for="func-{{ $funcName }}-send-flag" class="peer-checked:hidden block px-4 py-2 cursor-pointer">
                      Add to the command
                    </label>
                    <label for="func-{{ $funcName }}-send-flag" class="hidden peer-checked:block px-4 py-2 cursor-pointer">
                      Remove from the command
                    </label>
                  </div>                
                </div>
            {{ end }}
          </form>
        </div>
      </div>
      <div>
        <h3 class="text-gray-400 text-50 mb-1">Command</h3>
        <div class="relative rounded-sm text-100 bg-light">
          <button
            class="js-copy-btn absolute top-2 right-2 text-gray-400 hover:text-gray-600"
            aria-label="Copy Command"
            data-copy-btn="help-cmd-{{ .Name }}"
            data-copy-remove-comments
          >
            {{ template "ui/copy" }}
          </button>
          {{/* prettier-ignore-start */}}
      <pre
        class="font-mono text-gray-600 p-4 pr-10 whitespace-pre-wrap"
      ><code><span data-code-mode="fast" class="hidden"># WARNING: This command is running in an INSECURE mode.
# It is strongly recommended to use a hardware device for signing
# and avoid trusting any computer connected to the internet,
# as your private keys could be exposed.

gnokey maketx call -pkgpath "{{ $.PkgPath }}" -func "{{ .Name }}"{{ range .Params }} -args "<span data-role="help-code-args" data-arg="{{ .Name }}"></span>"{{ end }} -gas-fee 1000000ugnot -gas-wanted 5000000 -send "<span data-role="help-code-send"></span>" -broadcast -chainid "{{ $.ChainId }}" -remote "{{ $.Remote }}" <span data-role="help-code-address">ADDRESS</span></span><span data-code-mode="secure" class="inline" data-copy-content="help-cmd-{{ .Name }}">gnokey query -remote "{{ $.Remote }}" auth/accounts/<span data-role="help-code-address">ADDRESS</span>
gnokey maketx call -pkgpath "{{ $.PkgPath }}" -func "{{ .Name }}" {{ range .Params }} -args "<span data-role="help-code-args" data-arg="{{ .Name }}"></span>"{{ end }} -gas-fee 1000000ugnot -gas-wanted 5000000 -send "<span data-role="help-code-send"></span>" <span data-role="help-code-address">ADDRESS</span> > call.tx
gnokey sign -tx-path call.tx -chainid "{{ $.ChainId }}" -account-number ACCOUNTNUMBER -account-sequence SEQUENCENUMBER <span data-role="help-code-address">ADDRESS</span>
gnokey broadcast -remote "{{ $.Remote }}" call.tx</span></code></pre>
          {{/* prettier-ignore-end */}}
        </div>
      </div>
    </article>
  {{ end }}
{{ end }}
