{{ define "ui/help_function" }} 
{{ $data := . }} 
{{ range .Functions }}
<article 
  class="bg-gray-100 dark:bg-gray-d100 rounded p-4 mb-3" 
  data-func="{{ .FuncName }}"
>
  <h2 
    id="func-{{ .FuncName }}" 
    class="text-gray-600 dark:text-gray-d600 font-semibold text-200 mb-3 leading-tight"
  >
    {{ .FuncName }}
  </h2>
  <div class="mb-1">
    <div class="flex flex-col gap-1 items-stretch text-gray-400 dark:text-gray-d400">
      <h3 class="mr-10 text-50">Params</h3>
      <form class="w-full text-100">
        {{ $funcName := .FuncName }} 
        {{ range .Params }}
        <div class="flex flex-col gap-3 items-stretch text-gray-400 dark:text-gray-d400 mb-2">
          <div class="group relative overflow-hidden flex w-full border rounded-sm has-[:focus]:border-gray-300 dark:has-[:focus]:border-gray-d400 hover:border-gray-300 dark:hover:border-gray-d400">
            <label 
              for="func-{{ $funcName }}-param-{{ .Name }}" 
              class="flex gap-3 items-center bg-gray-50 dark:bg-gray-d100 px-4 font-semibold text-gray-600 dark:text-gray-d600 text-100"
            >
              {{ .Name }}
            </label>
            <input
              type="text"
              {{- if eq $data.SelectedFunc $funcName }}value="{{ getSelectedArgValue $data . }}"{{- end }}
              placeholder="parameter"
              id="func-{{ $funcName }}-param-{{ .Name }}"
              data-role="help-param-input"
              data-param="{{ .Name }}"
              class="flex h-full bottom-1 w-full border-l p-2 focus:border-gray-300 dark:focus:border-gray-d300 group-hover:border-gray-300 text-gray-600 dark:text-gray-d600 outline-none font-mono bg-light dark:bg-gray-d50"
            />
          </div>
        </div>
        {{ end }}
      </form>
    </div>
  </div>
  <div>
    <h3 class="text-gray-400 dark:text-gray-d300 text-50 mb-1">Command</h3>
    <div class="relative rounded-sm text-100 bg-light dark:bg-gray-d50">
      <button 
        class="js-copy-btn w-5 h-5 absolute top-2 right-2 text-gray-400 dark:text-gray-d300 hover:text-gray-600 dark:hover:text-gray-d400"
        aria-label="Copy Command" 
        data-copy-btn="help-cmd-{{ .FuncName }}"
      >
        {{ template "ui/copy" }}
      </button>
      <pre
        class="font-mono text-gray-600 dark:text-gray-d600 p-4 pr-10 whitespace-pre-wrap"
      ><code><span data-code-mode="fast" class="inline" data-copy-content="help-cmd-{{ .FuncName }}">gnokey maketx call -pkgpath "{{ $.PkgPath }}" -func "{{ .FuncName }}" -gas-fee 1000000ugnot -gas-wanted 2000000 -broadcast -chainid "{{ $.ChainId }}"{{ range .Params }} -args "<span data-role="help-code-args" data-arg="{{ .Name }}" data-copy-content=""></span>"{{ end }} -remote "{{ $.Remote }}" <span data-role="help-code-address">ADDRESS</span></span><span data-code-mode="secure" class="hidden">gnokey query -remote "{{ $.Remote }}" auth/accounts/<span data-role="help-code-address">ADDRESS</span>
gnokey maketx call -pkgpath "{{ $.PkgPath }}" -func "{{ .FuncName }}" -gas-fee 1000000ugnot -gas-wanted 2000000 -send "" {{ range .Params }} -args "<span data-role="help-code-args" data-arg="{{ .Name }}"></span>"{{ end }} <span data-role="help-code-address">ADDRESS</span> > call.tx
gnokey sign -tx-path call.tx -chainid "{{ $.ChainId }}" -account-number ACCOUNTNUMBER -account-sequence SEQUENCENUMBER <span data-role="help-code-address">ADDRESS</span>
gnokey broadcast -remote "{{ $.Remote }}" call.tx</span></code></pre>
    </div>
  </div>
</article>
{{ end }} 
{{ end }}