on:
    workflow_call:
        inputs:
            modulepath:
              required: true
              type: string
            go-version:
              required: true
              type: string

jobs:
    generated:
        runs-on: ubuntu-latest
        steps:
          - name: Install Go
            uses: actions/setup-go@v5
            with:
              go-version: ${{ inputs.go-version }}
    
          - name: Checkout code
            uses: actions/checkout@v4
    
          - name: Check generated files are up to date
            working-directory: ${{ inputs.modulepath }}
            run: |
              go generate -x ./...
              if [ "$(git status -s)" != "" ]; then
                echo "command 'go generate' creates file that differ from git tree, please run 'go generate' and commit:"
                git status -s
                exit 1
              fi
