name: build
on: [push, pull_request]

jobs:
  native:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup go
        uses: actions/setup-go@v2
        with:
          go-version: '^1.16'
      - name: build
        run: make
      - uses: actions/upload-artifact@v2
        with:
          name: gnoland
          path: |
            gnoland
            goscan
            logos
          
          
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup go
        uses: actions/setup-go@v2
        with:
          go-version: '^1.16'
      - name: build
        run: make test
