name: contribs

on:
  push:
    branches:
      - master
  workflow_dispatch:
  pull_request: 
    paths:
      - "contribs/**"
      - ".github/**"

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      programs: ${{ steps.set-matrix.outputs.programs }}
    steps:
      - uses: actions/checkout@v4
      - id: set-matrix
        run: echo "::set-output name=programs::$(ls -d contribs/*/ | cut -d/ -f2 | jq -R -s -c 'split("\n")[:-1]')"  
  main:
    needs: setup
    strategy:
        fail-fast: false
        matrix:
          program: ${{ fromJson(needs.setup.outputs.programs) }}
    name: Run Main
    uses: ./.github/workflows/main_template.yml
    with:
      modulepath: contribs/${{ matrix.program }}
    secrets:
      codecov-token: ${{ secrets.CODECOV_TOKEN }}
