name: "docs / lint"

on:
  push:
    paths:
      - master
  pull_request:
    paths:
      - "docs/**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.22'

      - name: Install dependencies
        run: go mod download

      - name: Build docs
        run: make -C docs/ build

      - name: Check diff
        run: git diff --exit-code || (echo "Some docs files are not formatted, please run 'make build'." && exit 1)

      - name: Run linter
        run: make -C docs/ lint
