name: docusaurus build
on:
  pull_request:
    paths:
      - "docs/**"
  push:
    branches: [ "master" ]
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 'latest'

    - name: Install Docusaurus Dependencies
      run: |
        cd misc/docusaurus
        yarn install

    - name: Build Docusaurus Docs
      run: |
        cd misc/docusaurus
        yarn build