name: Gno Examples

on:
  pull_request:
    paths:
      - "**.go"
      - "**.gno"
      - "go.mod"
      - "go.sum"
      - ".github/workflows/examples.yml"
      - "Makefile"
  push:
    branches:
      - master

jobs:
  go-test:
    name: Gno Examples
    strategy:
      fail-fast: false
      matrix:
        goversion: ["1.18.x", "1.19.x"]
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go-version }}
      - uses: actions/checkout@v3
      - run: go install -v ./cmd/gno
      # TODO: implement --allow-all-imports
      #- run: gno precompile ./stdlibs --verbose --allow-all-imports
      #- run: gno precompile ./tests --verbose --allow-all-imports
      - run: go run ./cmd/gno precompile ./examples --verbose
      - run: go run ./cmd/gno build ./examples --verbose
