# generate docs and publish on gh-pages branch
name: gh-pages

on:
  push:
    branches: [ "patch/gnochess" ]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: pages
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: "cd misc/devdeps && make install"
      - run: "cd misc/gendocs && make gen"
      - run: "find docs/ -type f -ls"
      - uses: actions/configure-pages@v3
        id: pages
      - uses: actions/upload-pages-artifact@v2
        with:
          path: ./misc/gendocs/godoc

  deploy:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    needs: build
    steps:
      - uses: actions/deploy-pages@v2
        id: deployment
