name: gno.land

on:
  push:
    branches:
      - master
  workflow_dispatch:
  pull_request:

jobs:
  main:
    name: Run Main
    uses: ./.github/workflows/main_template.yml
    with:
      modulepath: "gno.land"
      tests-extra-args: "-coverpkg=github.com/gnolang/gno/gno.land/..."
    secrets:
      codecov-token: ${{ secrets.CODECOV_TOKEN }}
  generate:
    strategy:
      fail-fast: false
      matrix:
        go-version: ["1.22.x"]
        # unittests: TODO: matrix with contracts
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
      - uses: actions/setup-node@v4
        with:
          node-version: lts/jode # (22.x) https://github.com/nodejs/Release
      - uses: actions/checkout@v4
      - run: |
          make -C gno.land generate.gnoweb
          # Check if there are changes after running generate.gnoweb
          git diff --exit-code || \
             (echo "\`gnoweb generate\` out of date, please run \`make gnoweb.generate\` within './gno.land'" && exit 1)
