name: gno.land

on:
  push:
    branches:
      - master
  workflow_dispatch:
  pull_request:

jobs:
  main:
    name: Run gno.land suite
    uses: ./.github/workflows/main_template.yml
    with:
      modulepath: "gno.land"
      go-version: "1.22.x"
      tests-extra-args: "-coverpkg=github.com/gnolang/gno/gno.land/..."
    secrets:
      codecov-token: ${{ secrets.CODECOV_TOKEN }}
