name: gno.land

on:
  push:
    branches:
      - master
  pull_request:
    paths:
      - gno.land/**
      # We trigger the testing workflow for gno.land on the following,
      # since there are integration suites that cover the gnovm / tm2
      - gnovm/**
      - tm2/**
      # Changes to examples/ can create failures in gno.land, eg. txtars,
      # see: https://github.com/gnolang/gno/pull/3590
      - examples/**
      # We trigger the testing workflow for changes to the main go.mod,
      # since this can affect test results
      - go.mod
  workflow_dispatch:

jobs:
  main:
    name: Run gno.land suite
    uses: ./.github/workflows/template_main.yml
    with:
      modulepath: "gno.land"
      tests-extra-args: "-coverpkg=github.com/gnolang/gno/gno.land/..."
      # FIXME(gfanton): run txtar integration test sequentially using `ts-seq` to avoid timeout, this is a
      # temporary fix for until cache is properly implemented on typecheck
      tests-ts-seq: true
    secrets:
      codecov-token: ${{ secrets.CODECOV_TOKEN }}

  gnoweb_generate:
    strategy:
      fail-fast: false
      matrix:
        go-version: ["1.23.x"]
        # unittests: TODO: matrix with contracts
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}
      - uses: actions/setup-node@v6
        with:
          node-version: lts/Jod # (22.x) https://github.com/nodejs/Release
      - uses: actions/checkout@v6
      - run: |
          make -C gno.land/pkg/gnoweb fclean generate
          # Check if there are changes after running generate.gnoweb
          git diff --exit-code || \
             (echo "\`gnoweb generate\` out of date, please run \`make gnoweb.generate\` within './gno.land'" && exit 1)

  gnoweb_front_lint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/setup-node@v6
        with:
          node-version: lts/Jod
      - uses: actions/checkout@v6
      - run: make -C gno.land/pkg/gnoweb/frontend lint.ci
