name: gnovm

on:
  push:
    branches:
      - master
  workflow_dispatch:
  pull_request:

jobs:
  main:
    name: Run Main
    uses: ./.github/workflows/main_template.yml
    with:
      modulepath: "gnovm"
      tests-extra-args: -v
      # in pull requests, append -short so that the CI runs quickly.
      #tests-extra-args: ${{ github.event_name == 'pull_request' && '-short' || '' }}
    secrets:
      codecov-token: ${{ secrets.CODECOV_TOKEN }}
  fmt:
    name: Run Gno Fmt
    uses: ./.github/workflows/gnofmt_template.yml
    with:
      path: "gnovm/stdlibs/..."
      go-version: "1.22.x"
