name: GnoVM

on:
  push:
    branches:
      - master
  pull_request:
    paths:
      - gnovm/**
      - tm2/** # GnoVM has a dependency on TM2 types
      - examples/** # gnovm has some tests that depend on examples
      # We trigger the testing workflow for changes to the main go.mod,
      # since this can affect test results
      - go.mod
  workflow_dispatch:

jobs:
  main:
    name: Run GnoVM suite
    uses: ./.github/workflows/templates/main_template.yml
    with:
      modulepath: "gnovm"
      tests-extra-args: "-coverpkg=github.com/gnolang/gno/gnovm/..."
    secrets:
      codecov-token: ${{ secrets.CODECOV_TOKEN }}
  stdlibs-fmt:
    name: Run gno fmt on stdlibs
    uses: ./.github/workflows/templates/gnofmt_template.yml
    with:
      path: "gnovm/stdlibs/..."
  stdlibs-test:
    name: Run gno test on stdlibs
    uses: ./.github/workflows/templates/gnofmt_template.yml
    with:
      path: "gnovm/stdlibs/..."
