name: Pull Request Labeler
on:
  - pull_request_target

jobs:
  triage:
    permissions:
      contents: write
      issues: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/labeler@v6
