name: Lint

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18.x

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Lint
        uses: golangci/golangci-lint-action@v3
        with:
          # Version is fixated to 1.47.3 because of https://github.com/golangci/golangci-lint-action/issues/535
          # Until issue is fixed or repo go version is bumped to 1.19
          version: v1.47.3
          args:
            --config=./.golangci.yml