# tests the "misc" directory & tools
# (not meant for miscellaneous workflows)
name: misc

on:
  push:
    branches:
      - master
  pull_request:
    paths:
      - misc/**
  workflow_dispatch:

jobs:
  main:
    strategy:
      fail-fast: false
      matrix:
        # fixed list because we have some non go programs on that misc folder
        program:
          - autocounterd
          - genproto
          - genstd
          - goscan
          - loop
    name: Run misc suite
    uses: ./.github/workflows/template_main.yml
    with:
      modulepath: misc/${{ matrix.program }}
      tests-extra-args: "-coverpkg=github.com/gnolang/gno/misc/..."
    secrets:
      codecov-token: ${{ secrets.CODECOV_TOKEN }}
