name: go.mod Tidy Checker

on:
  push:
    branches:
      - master
    paths:
      - '**/*.go'
      - 'go.mod'
      - 'go.sum'
  pull_request:
    paths:
      - '**/*.go'
      - 'go.mod'
      - 'go.sum'
  workflow_dispatch:
    inputs:
      go-version:
        description: "Go version to use"
        required: false
        type: string
        default: ""

jobs:
  main:
    name: Ensure go.mods are tidied
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ inputs.go-version }}
          go-version-file: go.mod

      - name: Check go.mod files are up to date
        run: |
          make tidy VERIFY_MOD_SUMS=true
