name: Go Releaser

on:
  push:
    # run only against tags
    tags:
      - "v*"

permissions:
  contents: write # needed to write releases
  id-token: write # needed for keyless signing
  packages: write # needed for ghcr access

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - run: git fetch --force --tags
    
      - uses: actions/setup-go@v5
        with:
          go-version: 1.21
          cache: true
    
      - uses: sigstore/cosign-installer@v3.5.0
      - uses: anchore/sbom-action/download-syft@v0.17.1

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - uses: goreleaser/goreleaser-action@v5
        with:
          version: latest
          args: release --clean --config ./.github/goreleaser.yaml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}