on:
  workflow_call:
    inputs:
      path:
        description: "Path to run gno lint on"
        required: true
        type: string
      go-version:
        description: "Go version to use"
        required: false
        type: string
        default: "1.23.x"
      debug:
        description: "Enable debug logs"
        required: false
        type: boolean

jobs:
  lint:
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ inputs.go-version }}

      - name: Run gno lint
        run: go run ./gnovm/cmd/gno lint -C ${{ inputs.path }} -v ./...
