on:
  workflow_call:
    inputs:
      modulepath:
        required: true
        type: string
      tests-timeout:
        required: true
        type: string
      go-version:
        required: true
        type: string
      tests-ts-seq: # execute txtar sequentially
        required: false
        type: boolean
      tests-extra-args:
        required: false
        type: string
    secrets:
      codecov-token:
        required: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ inputs.go-version }}
      - name: Go test
        working-directory: ${{ inputs.modulepath }}
        env:
          SEQ_TS: ${{ inputs.tests-ts-seq }}
          TXTARCOVERDIR: /tmp/txtarcoverdir # txtar cover output
          GOCOVERDIR: /tmp/gocoverdir # go cover output
          COVERDIR: /tmp/coverdir # final output
        run: |
          set -x # print commands

          mkdir -p "$GOCOVERDIR" "$TXTARCOVERDIR" "$COVERDIR"

          # Craft a filter flag based on the module path to avoid expanding coverage on unrelated tags.
          export filter="-pkg=github.com/gnolang/gno/${{ inputs.modulepath }}/..."

          # codecov only supports "boolean" coverage (whether a line is
          # covered or not); so using -covermode=count or atomic would be
          # pointless here.
          # XXX: Simplify coverage of txtar - the current setup is a bit
          # confusing and meticulous. There will be some improvements in Go
          # 1.23 regarding coverage, so we can use this as a workaround until
          # then.
          go test -covermode=set -timeout ${{ inputs.tests-timeout }} ${{ inputs.tests-extra-args }} ./... -test.gocoverdir=$GOCOVERDIR

          # Print results
          (set +x; echo 'go coverage results:')
          go tool covdata percent $filter -i=$GOCOVERDIR
          (set +x; echo 'txtar coverage results:')
          go tool covdata percent $filter -i=$TXTARCOVERDIR

          # Generate final coverage output
          go tool covdata textfmt -v 1 $filter -i=$GOCOVERDIR,$TXTARCOVERDIR -o gocoverage.out

      - name: Upload go coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          disable_search: true
          fail_ci_if_error: true
          files: ${{ inputs.modulepath }}/gocoverage.out
          flags: ${{ inputs.modulepath }}
          token: ${{ secrets.codecov-token }}
          verbose: true # keep this enable as it help debugging when coverage fails randomly on the CI
