name: TM2

on:
  push:
    branches:
      - master
  pull_request:
    paths:
      - tm2/**
  workflow_dispatch:

jobs:
  main:
    name: Run TM2 suite
    uses: ./.github/workflows/main_template.yml
    with:
      modulepath: "tm2"
      go-version: "1.22.x"
      tests-extra-args: "-coverpkg=github.com/gnolang/gno/tm2/..."
    secrets:
      codecov-token: ${{ secrets.CODECOV_TOKEN }}
