name: tm2

on:
  pull_request:
    paths:
      - "go.sum"
      - "tm2/Makefile"
      - "tm2/**.go"
      - ".github/workflows/tm2.yml"
  push:
    branches: [ "master" ]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        go-version: [ "1.19.x", "1.20.x" ]
        goarch: [ "amd64" ]
        goos: [ "linux" ]
        program: [ "./cmd/tm2txsync", "./pkg/amino/cmd/aminoscan", "./pkg/amino/cmd/goscan", "./pkg/autofile/cmd", "./pkg/iavl/cmd/iaviewer" ]
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}
      - uses: actions/checkout@v3
      - name: go install
        working-directory: tm2
        run: GOOS=${{ matrix.goos }} GOARCH=${{ matrix.goarch }} go install ${{ matrix.program }}

  test:
    strategy:
      fail-fast: false
      matrix:
        go-version: [ "1.19.x", "1.20.x" ]
        args:
          - _test.flappy
          - _test.pkg.amino
          - _test.pkg.bft
          - _test.pkg.others
          - _test.cmds
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}
      - uses: actions/checkout@v3
      - name: test
        working-directory: tm2
        run: |
          export GOPATH=$HOME/go
          make ${{ matrix.args }}
