name: tm2

on:
  pull_request:
    paths:
      - "go.sum"
      - "tm2/Makefile"
      - "tm2/**.go"
      - ".github/workflows/tm2.yml"
  push:
    branches: [ "patch/gnochess" ]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        go-version:
          - "1.20.x"
          - "1.21.x"
        goarch: [ "amd64" ]
        goos: [ "linux" ]
        program: [ "./pkg/amino/cmd/aminoscan", "./pkg/amino/cmd/goscan", "./pkg/autofile/cmd", "./pkg/iavl/cmd/iaviewer" ]
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}
      - uses: actions/checkout@v4
      - name: go install
        working-directory: tm2
        run: GOOS=${{ matrix.goos }} GOARCH=${{ matrix.goarch }} go install ${{ matrix.program }}

  test:
    strategy:
      fail-fast: false
      matrix:
        go-version:
          - "1.20.x"
          - "1.21.x"
        args:
          - _test.flappy
          - _test.pkg.amino
          - _test.pkg.bft
          - _test.pkg.others
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}
      - uses: actions/checkout@v4
      - name: test
        working-directory: tm2
        run: |
          export GOPATH=$HOME/go
          export GOTEST_FLAGS="-v -p 1 -timeout=30m -coverprofile=coverage.out -covermode=atomic"
          make ${{ matrix.args }}
      - if: runner.os == 'Linux'
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          name: tm2
          flags: tm2-${{matrix.args}}
          files: ./tm2/coverage.out
          #fail_ci_if_error: ${{ github.repository == 'gnolang/gno' }}
          fail_ci_if_error: false # temporarily
