name: Tests

on:
  pull_request:
    paths:
      - "**.go"
      - "**.gno"
      - "go.mod"
      - "go.sum"
      - ".github/workflows/unit-tests.yml"
      - "Makefile"
  push:
    branches:
      - master

jobs:
  go-test:
    name: Go Test
    strategy:
      fail-fast: false
      matrix:
        go-version: [ "1.19.x", "1.20.x" ]
        args:
          - test.go1
          - test.go2
          - test.go3
          - test.go4
          - test.filesNative
          - test.filesStdlibs
          - test.packages0
          - test.packages1
          - test.packages2
          - test.examples
          - test.flappy
          - test.docker-integration
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}
      - uses: actions/checkout@v3
      - name: test
        run: |
          export GOPATH=$HOME/go
          make ${{ matrix.args }}
