name: Tests

on:
  pull_request:
    paths:
      - "**.go"
      - "**.gno"
      - "go.mod"
      - "go.sum"
      - ".github/workflows/unit-tests.yml"
      - "Makefile"
  push:
    branches:
      - master

jobs:
  go-test:
    name: Go Test
    strategy:
      fail-fast: false
      matrix:
        goversion: ["1.17.x", "1.18.x"]
        args:
          - test.go1
          - test.go2
          - test.go3
          - test.files1
          - test.files2
          - test.packages
          - test.examples
          - test.flappy
    runs-on: ubuntu-latest
    timeout-minutes: 21
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go-version }}
      - uses: actions/checkout@v3
      - name: test
        run: make ${{ matrix.args }}
